<!-- 單筆資料 -->
<script type="text/x-template" id="nurseInfoTmp">
    <div class="remodal" data-remodal-id="rooms_modal1">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div></div>
            <div><span :class="{male: patientInfo.sex == '男' , 'female':patientInfo.sex == '女'}"></span></div>
        </div>
        <div class="remodal_body">
            <div class="rooms_tabs">
                <div data-pws-tab="rooms_tabs_1" data-pws-tab-name="基本資料">
                    <table>
                        <tbody>
                        <tr>
                            <td class="text-right date">主治醫師</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right date">住院醫師</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right date">專科護理師</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right date">護理師</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right date">診斷</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right date">手術</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right date">病歷號碼</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right date">註記</td>
                            <td class="doctor_cond">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div data-pws-tab="rooms_tabs_2" data-pws-tab-name="過敏資料">
                    <table>
                        <tbody>
                        <tr>
                            <td class="text-right">藥物</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        <tr>
                            <td class="text-right">其他過敏</td>
                            <td><span class="doctor"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div data-pws-tab="rooms_tabs_3" data-pws-tab-name="DNR/器捐">
                    <p class="text-left"></p>
                </div>
                <div data-pws-tab="rooms_tabs_4" data-pws-tab-name="待辦事項">
                    <p class="text-left"></p>
                </div>
            </div>
        </div>
    </div>
</script>