<!DOCTYPE html>
<html>
<%-include ../Common/head.ejs%>
<script type="text/javascript" src="../js/MonitorDevice/bit_class.js"></script>
<body>
<%- include('../Common/left_navbar',{moduleName:'monitor'}) %>
<%- include('../Common/headerMenu',{moduleName:'monitor', func:'1' }) %>
    <div class="nurse_system">
        <div class="container container_higher">
            <div class="drop_tabs">
                <div data-pws-tab="drop_tabs_1" data-pws-tab-name="共用點滴參數">
                    <div class="ope_list_search text-left">
                        <div class="checkbox_list radio_list">
                            <label>點滴測量方式：</label>
                            <label>
                                <input type="radio" class="option-input checkbox" name="drop_types" value="weight" /> 依近期淨重設定
                            </label>
                            <label>
                                <input type="radio" class="option-input checkbox" name="drop_types" value="capacity" /> 依點滴容量設定
                            </label>
                        </div>
                    </div>
                    <div class="grid_fifty" id="bitConfigdiv">
                    </div>
                    <div class="grid_fifty">
                        <form class="drop_setting_forms">
                            <div class="form_title">點滴種類參數</div>
                            <div>
                                <label>點滴種類</label>
                                <select id="select_bit_class">
                                </select>
                            </div>
                            <div>
                                <label>點滴容量</label>
                                <div class="pure_form_text" id="bit_class_capacity">500 ml</div>
                            </div>
                            <div>
                                <label>點滴空袋淨重</label>
                                <div class="pure_form_text" id="bit_class_empty_weight">20 g</div>
                            </div>
                            <div class="text-center-block">
                                <a href="#add_modal_1" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> 建立</a>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div class="grid_fifty">
                        <form class="drop_setting_forms">
                            <div class="form_title">輸液管參數</div>
                            <div>
                                <label>輸液管種類</label>
                                <select id="bitPipeSelect" onchange="changePipe(this.value)">

                                </select>
                            </div>
                            <div>
                                <label>預設淨重</label>
                                <div class="pure_form_text" id="defaultWeightDiv">155 g</div>
                            </div>
                            <div class="text-center-block">
                                <a href="#add_bit_pipe_modal" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> 建立</a>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="grid_fifty" id="other_bitConfigdiv">
                    </div>
                    <div class="clearfix"></div>
                    <div class="btn_group">
                        <a href="#" class="btn" id="submit_btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
                    </div>
                </div>
                <div data-pws-tab="drop_tabs_2" data-pws-tab-name="個別點滴參數" class="has_big_table">
                    <div class="ope_list_search">
                        <div>共 <span class="ban" id="bit_bed_num"></span> 筆</div>
                        <div>
                            <label>床位：</label>
                            <input type="text" name="bed_input" id="bed_input">
                        </div>
                        <div>
                            <label>病患：</label>
                            <input type="text" name="patient_input" id="patient_input">
                        </div>
                        <div class="btn_group">
                            <a href="#" class="btn"><i class="fa fa-search" aria-hidden="true"></i> 查詢</a>
                        </div>
                    </div>
                    <table class="overflow-y">
                        <thead>
                            <tr>
                                <th>編輯</th>
                                <th>床位</th>
                                <th>姓名</th>
                                <th>點滴 ID</th>
                                <th>監測
                                    <br>時間</th>
                                <th>統計
                                    <br>時間</th>
                                <th>警示
                                    <br>時間</th>
                                <th>警報
                                    <br>時間</th>
                                <th>點滴種類</th>
                                <th>輸液管種類</th>
                                <th>微調重量</th>
                                <th>自動微調
                                    <br>重量</th>
                                <th>近期近重
                                    <br>採樣次數</th>
                            </tr>
                        </thead>
                        <tbody id="bit_bed_config_tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="remodal remodal_1" data-remodal-id="add_modal_1" style="max-width: 1200px;">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>建立點滴種類</div>
        </div>
        <div class="remodal_body">
            <div class="grid_third">
                <form class="grid_form">
                    <div>
                        <label>點滴編號</label>
                        <input type="text" name="" id="add_bit_no">
                    </div>
                    <div>
                        <label>點滴種類名稱</label>
                        <input type="text" name="" id="add_bit_class_name">
                    </div>
                    <div>
                        <label>點滴容量 ( ml )</label>
                        <input type="text" name="" id="add_bit_capacity">
                        <div class="pure_form_text">ml</div>
                    </div>
                    <div>
                        <label>點滴名稱</label>
                        <input type="text" name="" id="add_bit_name">
                    </div>
                    <div>
                        <label>空袋淨重 ( g )</label>
                        <input type="text" name="" id="add_bit_empty_weight">
                        <div class="pure_form_text">g</div>
                    </div>
                    <div class="text-right">
                        <a href="#" class="btn" id="add_bit_class_btn"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="grid_sixty grid_table">
                <div class="ope_list_search text-left">

                </div>
                <table class="overflow-y">
                    <thead>
                        <tr>
                            <th></th>
                            <th>編輯</th>
                            <th>序號</th>
                            <th>編號</th>
                            <th>點滴名稱</th>
                            <th>種類</th>
                            <th>容量 ( ml )</th>
                            <th>空袋淨重 ( g )</th>
                        </tr>
                    </thead>
                    <tbody id="bit-class-list-container">

                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="remodal_footer">
            <a href="#" class="btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>
    <div class="remodal" data-remodal-id="edit_modal_1">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>編輯點滴種類</div>
        </div>
        <div class="remodal_body">
            <form>

                <div>
                    <label>序號</label>
                    <span class="edit_serial_no" id="edit_pipe_serial_no">01</span>
                </div>

                <div>
                    <label>點滴編號</label>
                    <input type="text" name="" value="" id="edit_bit_no">
                </div>

                <div>
                    <label>點滴名稱</label>
                    <input type="text" name="" value="" id="edit_bit_name">
                </div>

                <div>
                    <label>點滴種類名稱</label>
                    <input type="text" name="" value="" id="edit_bit_class_name">
                </div>

                <div>
                    <label>點滴容量 ( ml )</label>
                    <input type="text" name="" value="" id="edit_bit_capacity">
                </div>

                <div>
                    <label>空袋淨重 ( g )</label>
                    <input type="text" name="" value="" id="edit_bit_empty_weight">
                </div>

                <div class="clearfix"></div>
            </form>
        </div>
        <div class="remodal_footer">
            <a href="#add_modal_1" class="btn"><i class="fa fa-times" aria-hidden="true"></i> 取消</a>
            <a href="#add_modal_1" class="btn" id="save_bit_class_btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>
    <div class="remodal remodal_2" data-remodal-id="add_bit_pipe_modal" style="max-width: 1200px;">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>建立輸液管種類</div>
        </div>
        <div class="remodal_body">
            <div class="grid_third">
                <form class="grid_form">
                    <div>
                        <label>輸液管名稱</label>
                        <input type="text" id="bit_pipe_name">
                    </div>
                    <div>
                        <label>淨重</label>
                        <input type="number" min="0" id="bit_pipe_weight">
                        <div class="pure_form_text">g</div>
                    </div>
                    <div>
                        <label>管內液體量</label>
                        <input type="number"  min="0" id="capacity_in_pipe">
                        <div class="pure_form_text">g</div>
                    </div>
                    <div class="text-right">
                        <a  id="addBitPipe" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="grid_sixty grid_table">
                <div class="ope_list_search text-left">

                </div>
                <table class="overflow-y" id="bitPipeTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>編輯</th>
                            <th>序號</th>
                            <th>輸夜管名稱</th>
                            <th>淨重</th>
                            <th>管內液體量</th>
                            <th>總重</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" name="">
                            </td>
                            <td><a href="#edit_modal_2" class="btn"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a></td>
                            <td>01</td>
                            <td>大管</td>
                            <td>60 g</td>
                            <td>95 g</td>
                            <td>155 g</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="remodal_footer">
            <a href="#" class="btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>
    <!-- 編輯輸液管種類Modal -->
    <div class="remodal" data-remodal-id="edit_bit_pipe_modal">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>編輯輸液管種類</div>
        </div>
        <div class="remodal_body">
            <form>
                <input type="hidden" id="edit_bit_pipe_id" value="">
                <div>
                    <label>序號</label>
                    <span id="edit_bit_pipe_no">01</span>
                </div>
                <div>
                    <label>輸液管名稱</label>
                    <input type="text" name="" id="edit_bit_pipe_name" value="大管">
                </div>
                <div>
                    <label>淨重 ( g )</label>
                    <input type="number" min="0" style="width: 70%;" id="edit_bit_pipe_weight" name="" value="60">
                </div>
                <div>
                    <label>管內液體量 ( g )</label>
                    <input type="number" min="0" style="width: 70%;" id="edit_bit_pipe_capacity_in_pipe" name="" value="95">
                </div>
                <div>
                    <label>總重</label>
                    <span id="edit_bit_pipe_total_capacity_in_pipe">155 g</span>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="remodal_footer">
            <a href="#add_bit_pipe_modal" class="btn"><i class="fa fa-times" aria-hidden="true"></i> 取消</a>
            <a id="doEditBitPipeClassBtn" class="btn "><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>
    <div class="remodal" data-remodal-id="edit_modal" style="max-width: 1360px;">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>編輯個別點滴參數</div>
        </div>
        <div class="remodal_body" id="edit_bit_bed_config_div">
        </div>
        <div class="remodal_footer">
            <a href="#" class="btn"><i class="fa fa-times" aria-hidden="true"></i> 取消</a>
            <a href="#" class="btn" id="update_btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>



<!--點種類別清單>-->
<script id="bit-class-list-template" type="text/x-handlebars-template">

    {{#each result}}
    <tr  class="bit_class_row">
        <td>
            <input type="checkbox" name=""  class="bit_class_ids" value="{{id}}">
        </td>
        <td><a href="#edit_modal_1" class="btn edit_bit_class_btn"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a></td>
        <td class="serial_no">{{@index}}</td>
        <td class="bit_no">{{bit_no}}</td>
        <td class="bit_name">{{bit_name}}</td>
        <td class="bit_class_name">{{bit_class_name}}</td>
        <td class="bit_capacity">{{bit_capacity}}</td>
        <td class="bit_empty_weight">{{bit_empty_weight}}</td>
    </tr>
    {{/each}}

</script>


</body>

</html>

<script type="text/javascript" src="../js/MonitorDevice/bitParamSet.js"></script>
<script id="config_temp" type="text/x-handlebars-template">
    {{#items}}
    <form class="drop_setting_forms" id="config_form">
        <div class="form_title">時間參數</div>
        <div>
            <label>監測時間 ( 20 ~ 300秒 )</label>
            <input type="text" name="monitor_time" value="{{monitor_time}}">
        </div>
        <div>
            <label>統計時間 ( 2 ~ 60分 )</label>
            <input type="text" name="statistic_time" value="{{statistic_time}}">
        </div>
        <div>
            <label>警示時間 ( 5 ~ 60分 )</label>
            <input type="text" name="alarm_time" value="{{alarm_time}}">
        </div>
        <div>
            <label>警報時間 ( 0 ~ 30分 )</label>
            <input type="text" name="alert_time" value="{{alert_time}}">
        </div>
        <div class="clearfix"></div>
    </form>
    {{/items}}
</script>
<script id="other_config_temp" type="text/x-handlebars-template">
    {{#items}}
    <form class="drop_setting_forms" id="other_config_form">
        <div class="form_title">其它參數</div>
        <div>
            <label>微調重量 ( + / - )</label>
            <input type="text" name="adjust_weight" value="{{adjust_weight}}">
            <div class="pure_form_text">g</div>
        </div>
        <div>
            <label>自動微調重量 ( + / - )</label>
            <input type="text" name="auto_adjust_weight" value="{{auto_adjust_weight}}">
            <div class="pure_form_text">g</div>
        </div>
        <div class="clearfix"></div>
    </form>
    {{/items}}
</script>
<script id="bit_bed_config_temp" type="text/x-handlebars-template">
    {{#items}}
    <tr>
        <td><a href="#edit_modal" class="btn edit_bit_bed_config"
               data-id="{{id}}" data-ward_name="{{ward_name}}" data-bedname="{{bedname}}"
               data-patient_name="{{patient_name}}" data-bit_no="{{bit_no}}"
               data-monitor_time="{{monitor_time}}" data-statistic_time="{{statistic_time}}"
               data-alarm_time="{{alarm_time}}" data-alert_time="{{alert_time}}"
               data-bit_class_no="{{bit_class_no}}" data-bit_pipe_class_id="{{bit_pipe_class_id}}"
               data-adjust_weight="{{adjust_weight}}" data-auto_adjust_weight="{{auto_adjust_weight}}"
               data-sampling_count="{{sampling_count}}"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a></td>
        <td>{{ward_name}}-{{bedname}}</td>
        <td>{{patient_name}}</td>
        <td>{{bit_no}}</td>
        <td>{{monitor_time}} sec</td>
        <td>{{statistic_time}} min</td>
        <td>{{alarm_time}} min</td>
        <td>{{alert_time}} min</td>
        <td>{{bit_class_name}}</td>
        <td>{{bit_pipe_class_name}}</td>
        <td>{{adjust_weight}}</td>
        <td>{{auto_adjust_weight}}</td>
        <td>{{sampling_count}}</td>
    </tr>
    {{/items}}
</script>
<script id="edit_bit_bed_config_temp" type="text/x-handlebars-template">
    {{#items}}
    <div class="grid_fifty">
        <form id="ed_form01">
            <input type="hidden" name="id" value="{{id}}">
            <div>
                <label> 床位</label>
                <span>{{ward_name}}-{{bedname}}</span>
            </div>
            <div>
                <label>姓名</label>
                <input type="text" name="patient_name" value="{{patient_name}}">
            </div>
            <div>
                <label>點滴 ID</label>
                <input type="text" name="bit_no" value="{{bit_no}}">
            </div>
            <div>
                <label>監測時間 ( sec )</label>
                <input type="text" name="monitor_time" value="{{monitor_time}}">
            </div>
            <div>
                <label>統計時間 ( min )</label>
                <input type="text" name="statistic_time" value="{{statistic_time}}">
            </div>
            <div>
                <label>警示時間 ( min )</label>
                <input type="text" name="alarm_time" value="{{alarm_time}}">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="grid_fifty">
        <form id="ed_form02">
            <div>
                <label>警報時間 ( min )</label>
                <input type="text" name="alert_time" value="{{alert_time}}">
            </div>
            <div>
                <label>點滴種類</label>
                <select id="bit_class_no" name="bit_class_no">
                    {{#bit_class}}
                    <option value="{{bit_no}}" {{#ifCond bit_no '==' ../bit_class_no}} selected {{/ifCond}}>{{bit_name}}</option>
                    {{/bit_class}}
                </select>
            </div>
            <div>
                <label>輸液管種類</label>
                <select id="bit_pipe_class_id" name="bit_pipe_class_id">
                    <option value="{{bit_pipe_class_id}}">--</option>
                    <option value="{{bit_pipe_class_id}}" selected>大管</option>
                    <option value="{{bit_pipe_class_id}}">中管</option>
                    <option value="{{bit_pipe_class_id}}">小管</option>
                </select>
            </div>
            <div>
                <label>微調重量 ( g )</label>
                <input type="text" name="adjust_weight" value="{{adjust_weight}}">
            </div>
            <div>
                <label>自動微調重量 ( g )</label>
                <input type="text" name="auto_adjust_weight" value="{{auto_adjust_weight}}">
            </div>
            <div>
                <label>近期近重採樣次數</label>
                <input type="text" name="sampling_count" value="{{sampling_count}}">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="clearfix"></div>
    {{/items}}
</script>