<!DOCTYPE html>
<html>
<%-include ../Common/head.ejs%>
<body>
<%- include('../Common/left_navbar',{moduleName:'monitor'}) %>
<%- include('../Common/headerMenu',{moduleName:'monitor', func:'4' }) %>
    <div class="nurse_system">
        <div class="container container_higher">
            <div class="ope_list_search">
                <div class="date_range">
                    <label>查詢時間：</label>
                    <input id="ope_range" type="text" class="datepicker-here" data-range="true" data-multiple-dates-separator=" ~ " data-language="zh" data-position="bottom right" placeholder="2016-11-11 ~ 2016-11-11">
                </div>
                <div>
                    <label>病患名稱：</label>
                    <input type="text" name="">
                </div>
                <div>
                    <label>床位：</label>
                    <input type="text" name="">
                </div>
            </div>
            <div class="ope_list_search ope_list_search_bottom">
                <div>
                    <label>點滴種類：</label>
                    <select>
                        <option>--</option>
                        <option>食鹽水</option>
                        <option>葡萄醣</option>
                    </select>
                </div>
                <div>
                    <label>點滴 ID：</label>
                    <input type="text" name="">
                </div>
                <div>
                    <label>專責護理師：</label>
                    <input type="text" name="">
                </div>
                <a href="#" class="btn"><i class="fa fa-search" aria-hidden="true"></i> 查詢</a>
            </div>
            <table class="overflow-y">
                <thead>
                    <tr>
                        <th>監測日期</th>
                        <th>點滴<br>ID</th>
                        <th>病患<br>名稱</th>
                        <th>床位</th>
                        <th>專責<br>護理師</th>
                        <th>開始時間</th>
                        <th>結束時間</th>
                        <th>點滴種類</th>
                        <th>點滴容量</th>
                        <th>輸液管<br>種類</th>
                        <th>輸液<br>時間</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2016/11/15</td>
                        <td>001</td>
                        <td>張xx</td>
                        <td class="date">01-01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>食鹽水</td>
                        <td>500 ml</td>
                        <td>大管</td>
                        <td>1.30</td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>

</body>

</html>
