<!DOCTYPE html>
<html>
<% include ../Common/head%>
<body>
    <% include ../Common/eBoardMarquee%>
    <div class="container container_higher" id="in_and_out">
        <a href="#" id="refresh" @click="updateInOutHospital"><i class="fa fa-refresh" aria-hidden="true"></i> 重新整理</a>
        <div class="grid_eighty no_data {{InList.length == 0 ? 'no_data_in' : ''}}">
            <h1><i class="fa fa-plus-square-o" aria-hidden="true"></i> 入院</h1>
            <table class="overflow-y">
                <thead>
                    <tr>
                        <th>病床</th>
                        <th>病患</th>
                        <th>入院帳號</th>
                        <th>診斷</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="inObj in InList">
                        <td>{{inObj.bed_no}}</td>
                        <td><span class="{{inObj.sex == '1' ? 'male' : 'female'}}">{{inObj.name}}({{inObj.age}})</span></td>
                        <td>{{inObj.record_no}}</td>
                        <td>{{inObj.diagnosis}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="grid_fifty no_data {{OutList.length == 0 ? 'no_data_out' : ''}}">
            <h1><i class="fa fa-check-square-o" aria-hidden="true"></i> 出院</h1>
            <table class="overflow-y">
                <thead>
                    <tr>
                        <th>病床</th>
                        <th>病患</th>
                        <th>備註</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="outObj in OutList">
                        <td>{{outObj.bed_no}}</td>
                        <td><span class="{{outObj.sex == '1' ? 'male' : 'female'}}">{{outObj.name}}({{outObj.age}})</span></td>
                        <td>{{outObj.diagnosis}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grid_fifty no_data {{ResrvTurnBedList.length == 0 ? 'no_data_change' : ''}}">
            <h1><i class="fa fa-random" aria-hidden="true"></i> 預約轉床</h1>
            <table class="overflow-y">
                <thead>
                    <tr>
                        <th>登錄日期</th>
                        <th>病床</th>
                        <th>病患</th>
                        <th>床位</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="changeObj in ResrvTurnBedList">
                        <td>{{ changeObj.change_datetime | ymdFormatDate }}</td>
                        <td>{{changeObj.ward_name}}-{{changeObj.bed_name}}</td>
                        <td><span class="{{changeObj.sex == '0' ? 'female' : 'male'}}">{{changeObj.patient_name}}({{changeObj.age}})</span></td>
                        <td>{{changeObj.bed_type}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="btn_group btn_group_bottom">
            <a href="#" class="btn" @click="preDay"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 前一天</a>
            <span class="btn" @click="updateInOutHospital">{{searchDate}}</span>
            <a href="#" class="btn" @click="nextDay"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 後一天</a>
        </div>
    </div>
    <%- include('../Common/eBoardMenu', {func: '5'}) %>
</body>

</html>
<script type="text/javascript" src="/js/EWhiteBoard/admissionDischarge.js"></script>