<!DOCTYPE html>
<html>

<% include ../Common/head %>

<body>
<% include ../Common/eBoardMarquee %>
<div class="container" id="beds">
    <a href="#" id="refresh"><i class="fa fa-refresh" aria-hidden="true"></i> 重新整理</a>
    <div class="beds_tabs">
        <div data-pws-tab="beds_tabs_1" data-pws-tab-name="依病床">
            <div class="bed">
                <a href="#beds_modal" class="bed_inner empty_bed">
                    <div class="bed_drops"></div>
                    <div class="bed_header">
                        01-01
                    </div>
                    <div class="bed_body">
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner none">
                    <div class="bed_drops"></div>
                    <div class="bed_header">
                        01-02
                    </div>
                    <div class="bed_body">
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        01-03
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        01-04
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i> <i class="fa fa-tint"
                                                                                            aria-hidden="true"></i>
                    </div>
                    <div class="bed_header">
                        02-01
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header causion">
                        02-02
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        03-01
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        03-02
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        05-01
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header instance">
                        05-02
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i> <i class="fa fa-tint"
                                                                                            aria-hidden="true"></i>
                    </div>
                    <div class="bed_header">
                        05-03
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        05-04
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        06-01
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        06-02
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        06-03
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner none">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        06-03
                    </div>
                    <div class="bed_body">
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        07-01
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        07-02
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        07-03
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header instance">
                        07-04
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i> <i class="fa fa-tint"
                                                                                            aria-hidden="true"></i> <i
                                class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header causion">
                        08-01
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner">
                    <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                    <div class="bed_header">
                        08-02
                    </div>
                    <div class="bed_body">
                        <p>點滴剩餘 <span class="doctor">50%</span></p>
                        <p>剩餘 <span class="doctor">135分鐘</span></p>
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner empty_bed">
                    <div class="bed_drops"></div>
                    <div class="bed_header">
                        08-03
                    </div>
                    <div class="bed_body">
                    </div>
                </a>
            </div>
            <div class="bed">
                <a href="#beds_modal" class="bed_inner ban">
                    <div class="bed_drops"></div>
                    <div class="bed_header">
                        08-04
                    </div>
                    <div class="bed_body">
                    </div>
                </a>
            </div>
        </div>
        <div data-pws-tab="beds_tabs_2" data-pws-tab-name="依護理師">
            <div class="row">
                <div class="bed">
                    <div class="bed_inner bed_nurse">
                        李萱祐
                    </div>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            01-03
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            01-04
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i> <i class="fa fa-tint"
                                                                                                aria-hidden="true"></i>
                        </div>
                        <div class="bed_header">
                            02-01
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header causion">
                            02-02
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            03-01
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            03-02
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="bed">
                    <div class="bed_inner bed_nurse">
                        王凱蓓
                    </div>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            05-01
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header instance">
                            05-02
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i> <i class="fa fa-tint"
                                                                                                aria-hidden="true"></i>
                        </div>
                        <div class="bed_header">
                            05-03
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            05-04
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            06-01
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            06-02
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            06-03
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="bed">
                    <div class="bed_inner bed_nurse">
                        林綺夢
                    </div>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            07-01
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            07-02
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            07-03
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header instance">
                            07-04
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i> <i class="fa fa-tint"
                                                                                                aria-hidden="true"></i>
                            <i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header causion">
                            08-01
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
                <div class="bed">
                    <a href="#beds_modal" class="bed_inner">
                        <div class="bed_drops"><i class="fa fa-tint" aria-hidden="true"></i></div>
                        <div class="bed_header">
                            08-02
                        </div>
                        <div class="bed_body">
                            <p>點滴剩餘 <span class="doctor">50%</span></p>
                            <p>剩餘 <span class="doctor">135分鐘</span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="room_des">
    <div class="room_des_inner">
        <div class="room_des_left">
            總床數<span class="doctor"> 24</span>
            <span class="room_des_square empty"></span>空床 <span class="doctor"> 2</span>
            <span class="room_des_square ban"><i class="fa fa-ban" aria-hidden="true"></i></span>關床 <span
                    class="doctor"> 1</span>
        </div>
        <div class="room_des_right">
            <strong>點滴警示說明：</strong>
            <span class="room_des_square instance"></span>須立即更換
            <span class="room_des_square causion"></span>警示
            <span class="room_des_square normal"></span>正常
            <span class="room_des_square none"></span>未使用點滴
        </div>
    </div>
</div>
<%- include('../Common/eBoardMenu', {func: '1'}) %>
<div class="remodal" data-remodal-id="beds_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>05-01</div>
        <div><span class="female">鄭秀文(36)</span></div>
    </div>
    <div class="remodal_body">
        <div class="rooms_tabs">
            <div data-pws-tab="rooms_tabs_1" data-pws-tab-name="點滴 1">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">點滴種類</td>
                        <td><span class="doctor">02 營養補給 A12</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">點滴容量</td>
                        <td><span class="doctor">500 ml</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">輸液管種類</td>
                        <td><span class="doctor">小管</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">點滴剩餘容量</td>
                        <td><span class="doctor">30 ml</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">點滴流速</td>
                        <td><span class="doctor">3 ml / min</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">點滴剩餘時間</td>
                        <td><span class="doctor">10 min</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-pws-tab="rooms_tabs_2" data-pws-tab-name="點滴 2">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right">點滴種類</td>
                        <td><span class="doctor">02 營養補給 D8</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">點滴容量</td>
                        <td><span class="doctor">500 ml</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">輸液管種類</td>
                        <td><span class="doctor">大管</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">點滴剩餘容量</td>
                        <td><span class="doctor">430 ml</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">點滴流速</td>
                        <td><span class="doctor">3.5 ml / min</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">點滴剩餘時間</td>
                        <td><span class="doctor">250 min</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>
