<!DOCTYPE html>
<html>
<% include ../Common/head%>
<body>
<% include ../Common/eBoardMarquee%>
<div id="ope_list" class="container container_higher">
    <a href="#" id="refresh"><i class="fa fa-refresh" aria-hidden="true"></i> 重新整理</a>
    <!-- 調整搜尋欄位變成日期前後 20161109 START -->
    <!-- 調整搜尋欄位變成日期前後 20161109 END -->
    <table class="overflow-y">
        <thead>
        <tr>
            <th>日期</th>
            <th>刀房</th>
            <th>刀次</th>
            <th>病床</th>
            <th>病歷號碼</th>
            <th>病患</th>
            <th>術式 / 診斷</th>
            <th>主治醫師</th>
            <th>刀別</th>
            <th>狀態</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="sgy in surgeryList" class="{{sgy.surgery_status | checkStatus}}">
                <td>{{sgy.surgery_date | ymDateFormat}}</td>
                <td>{{sgy.surgery_room}}</td>
                <td>{{sgy.surgery_number}}</td>
                <td>{{sgy.ward_zone_name}} {{sgy.ward_name}}-{{sgy.bed_name}}</td>
                <td>{{sgy.medical_number}}</td>
                <td><span class="{{sgy.sex == '1' ? 'male' : 'female'}}">{{sgy.name}}({{sgy.age}})</span></td>
                <td>{{sgy.surgery_name}}</td>
                <td>{{sgy.doctor_name}}</td>
                <td>{{sgy.surgery_type}}</td>
                <td>{{sgy.surgery_status}}</td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <div class="btn_group btn_group_bottom">
        <a href="#" class="btn" @click="preDaySurgery"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 前一天</a>
        <span class="btn" @click="updateSurgeryInfo">{{surgeryDate}}</span>
        <a href="#" class="btn" @click="nextDaySurgery"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 後一天</a>
    </div>
</div>

<%- include('../Common/eBoardMenu', {func: '3'}) %>

</body>

</html>

<script type="text/javascript" src="/js/EWhiteBoard/surgeryInfo.js"></script>