<!DOCTYPE html>
<html>
<%- include ../Common/head.ejs %>
<body>
<%- include('../Common/left_navbar',{moduleName:'other'}) %>
<%- include('../Common/headerMenu',{moduleName:'other', func:'3' }) %>
<div class="nurse_system">
    <div class="container container_higher">
        <div class="ope_list_search">

            <div class="btn_group">
                <a href="#add_modal" class="btn" id="new_btn"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
                <a href="#" class="btn" id="delete_btn"><i class="fa fa-minus" aria-hidden="true"></i> 刪除</a>
            </div>
        </div>
        <table class="overflow-y" id="marquee_table">
            <thead>
            <tr>
                <th>共 <span class="ban" id="marquee_num"></span> 筆</th>
                <th>編輯</th>
                <th>起迄期間</th>
                <th>內容</th>
                <th>文字顏色</th>
            </tr>
            </thead>
            <tbody id="all_marquee_body">
            </tbody>
        </table>
    </div>
</div>

<div class="remodal" data-remodal-id="add_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>新增跑馬燈訊息</div>
    </div>
    <div class="remodal_body">
        <form id="insert_form">
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 跑馬燈內容</label>
                <textarea rows="3" name="content"></textarea>
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 文字顏色</label>
                <input type="text" name="font_color_hex" id="position-bottom-right" class="color_picker" value="#0088cc">
            </div>
            <div class="date_range">
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 時間區間</label>
                <input id="ope_range" name="ope_range" type='text' class="datepicker-here" data-range="true"
                       data-multiple-dates-separator=" ~ " data-language='zh' data-position="bottom right"
                       placeholder="2016-11-11 ~ 2016-11-11"/>
            </div>
            <div class="text-left">
                <label></label>
                <small class="ban"> 下架日期為該日的00:00下架</small>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="remodal_footer">
        <a href="#" class="btn" id="insert_btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
    </div>
</div>
<div class="remodal" data-remodal-id="edit_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>編輯跑馬燈訊息</div>
    </div>
    <div class="remodal_body" id="edit_marquee_div">
    </div>
    <div class="remodal_footer">
        <a href="#" class="btn" id="update_btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
    </div>
</div>

</body>

</html>
<script type="text/javascript" src="../js/Other/marqueeMsgMaintain.js"></script>
<script id="marqueemsg_temp" type="text/x-handlebars-template">
    {{#marquees}}
    <tr>
        <td class="date">
            <input type="checkbox" value="{{id}}"/>
        </td>
        <td class="date">
            <a href="#edit_modal" class="btn edit_marquee"  data-id="{{id}}" data-content="{{content}}" data-end_datetime="{{end_datetime}}" data-start_datetime="{{start_datetime}}"
               data-font_color_hex="{{font_color_hex}}"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a>
        </td>
        <td class="date">{{formatTime start_datetime "current"}} ~ {{formatTime end_datetime "current"}}</td>
        <td>{{content}}</td>
        <td class="date"><span class="color" style="background-color: {{font_color_hex}};"></span></td>
    </tr>
    {{/marquees}}
</script>
<script id="edit_marquee_temp" type="text/x-handlebars-template">
    {{#marquees}}
    <form id="update_form">
        <input type="hidden" name="id" value="{{id}}">
        <div>
            <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 跑馬燈內容</label>
            <textarea rows="3" name="content">{{content}}</textarea>
        </div>
        <div>
            <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 文字顏色</label>
            <input type="text" id="position-bottom-right" name="font_color_hex" class="color_picker" value="{{font_color_hex}}">
        </div>
        <div class="date_range">
            <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 時間區間</label>
            <input id="ope_range" name="ope_range" type='text' class="datepicker-here" data-range="true"
                   data-multiple-dates-separator=" ~ " data-language='zh' data-position="bottom right"
                   value="{{formatTime start_datetime 'current2'}} ~ {{formatTime end_datetime 'current2'}}"/>
        </div>
        <div class="text-left">
            <label></label>
            <small class="ban"> 下架日期為該日的00:00下架</small>
        </div>
        <div class="clearfix"></div>
    </form>
    {{/marquees}}
</script>
