<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

  </head>

  <body>
    <h1>安裝精靈</h1>

    <div id="SelectArea">

        <p>請選擇安裝過程中的語系</p>

        <form id="keyForm" action="/Installer/installStep" method="POST">

            <select name="installProcessLangua">
                <option value="zh-TW">繁體中文</option>
                <option value="zh-CN">简体中文</option>
            </select>

            <input type="submit" value="輸入">

        </form>


    </div>



  </body>
</html>
