<!DOCTYPE html>
      <html>
      <head>
          <title><%= title %></title>
    <script src="/js/jQuery/jquery-1.10.2.js"></script>
    <script src="/js/installer.js"></script>

  </head>

  <body>
    <h1><%= title %></h1>

    <form id="functionListForm" action="#" method="POST">

    <div id="keyArea">

        <p>請輸入序號</p>


            <Textarea rows="5"  id="key" name="key"  style="width: 300px"></Textarea>

            <input id="enterKey"  type="button" value="輸入">


    </div>

  <div id="keyValidArea" style="display: none">

        驗證結果：<span id="validResult"></span><br>

  </div>

    <div id="keyInfoArea" style="display: none">

        該序號的最多使用人數為：<span id="maxUserNumber"></span><br>
        請選擇欲安裝的功能：<br>

            <div id="FunctionList"></div>

            <input type="submit" value="開始安裝">

    </div>

    </form>
  </body>
</html>
