<!-- 電子白板Header -->
<header>
    <div id="head">
        <h4><span class="room_number">5A</span></h4>
        <h4 class="head_time" id="datetimeH4">2016/11/11 PM 12:12:12</h4>
        <div class="head_right_nav">
            <img id="logo" src="/images/logo.png">
        </div>
    </div>
</header>

