 <!-- 電子白板Header -->
 <header>
        <div id="head">
            <img id="logo" src="/images/logo.png">
            <h4>2016/11/11 PM 12:12:12</h4>
            <div class="head_right_nav">
                <h4><span class="room_number">5A</span></h4>
            </div>
        </div>
</header>