<!-- 電子白板跑馬燈 -->
<!--<div id="footer">-->
    <!--<div id="footer_inner">-->
        <!--<div class="footer_inner_text">-->
            <!--送裡形後呢車立位檢理國到養著，何沒東們文才先指選臺古南用資死者現名木畫。爸德未每校孩高法談路業切別，因出美強天建媽開問元地花流太不一，口寶或子花國城真環注孩。汽有外告門治提裡情夫，很一西通公實包叫試音前了內示列！球計談兒，著收一國完自。方出我力次是唱品到不理片！加候能院離全，常邊來入量價！-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<div id="footer">
    <div id="footer_inner">
    </div>
</div>