<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/js/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="/js/jquery.stickyheader.js"></script>
<script type="text/javascript" src="/js/remodal.min.js"></script>
<script type="text/javascript" src="/js/datepicker.min.js"></script>
<script type="text/javascript" src="/js/datepicker.zh.js"></script>
<script type="text/javascript" src="/js/jquery.pwstabs.min.js"></script>
<script type="text/javascript" src="/js/jquery.popSelect.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<!-- moment 套件 -->
<script type="text/javascript" src="/js/moment.min.js"></script>

<!-- underscore 套件 -->
<script type="text/javascript" src="/js/underscore-min.js"></script>

<!-- underscore.string 套件 -->
<script type="text/javascript" src="/js/underscore.string.min.js"></script>

<!-- underscore and underscore.string 共用時需要加的語法 -->
<script type="text/javascript"> _.mixin(s.exports()); </script>

<!-- VUE JS 套件 -->
<script type="text/javascript" src="/js/vue/vue.min.js"></script>

<!--<script type="text/javascript" src="https://unpkg.com/vue"></script>-->

<script type="text/javascript" src="/js/vue/vueCommonFilter.js"></script>

<!-- handleBar套件 -->
<script type="text/javascript" src="/js/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="/js/handlebars_function.js"></script>


<script type="text/javascript" src="../js/Common/eBoardMarquee.js"></script>
<script id="marquee_temp" type="text/x-handlebars-template">
    <div class="footer_inner_text">
        {{#marquees}}
        <span style="color:{{font_color_hex}}">{{content}}</span>
        {{/marquees}}
    </div>
</script>


<script>
    update();
    setInterval(update, 1000);
    function update() {
        $("#datetimeH4").html(moment().format('YYYY/MM/DD A hh:mm:ss'));
    }
</script>