<!--
<footer id="footer_bottom">
    <div id="footer_inner">
    </div>
</footer>

<script type="text/javascript" src="../js/Common/eBoardMarquee.js"></script>
<script id="marquee_temp" type="text/x-handlebars-template">
    <div class="footer_inner_text">
        {{#marquees}}
        <span style="color:{{font_color_hex}}">{{content}}</span>
        {{/marquees}}
    </div>
</script>-->
