<!DOCTYPE html>
<html>
<%-include ../Common/head.ejs%>
<script type="text/javascript" src="../js/bed/bed.js"></script>
<body>
<%- include('../Common/left_navbar',{moduleName:'system'}) %>
<%- include('../Common/headerMenu',{moduleName:'system', func:'7' }) %>

    <div class="nurse_system">
        <div class="container container_higher">
            <div class="ope_list_search">

                <div>
                    <label>病房名稱：</label>
                    <input type="text" name="select_ward_name" id="select_ward_name">
                </div>
                <div class="btn_group">
                    <a href="#" class="btn"  onclick="selectBed()"><i class="fa fa-search" aria-hidden="true"></i> 查詢</a>
                    <a href="#add_modal" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
                    <a href="#" class="btn" onclick="deleteBed()"><i class="fa fa-minus" aria-hidden="true"></i> 刪除</a>
                </div>
            </div>
            <table class="overflow-y">
                <thead>
                    <tr>
                        <th>共 <span class="ban" id="bed_count"></span> 筆</th>
                        <th>編輯</th>
                        <th>病房名稱</th>
                        <th>病床名稱</th>
                    </tr>
                </thead>
                <tbody id="bed-list-container">

                </tbody>
            </table>
        </div>
    </div>
<%-include ../Common/marquee.ejs%>
    <div class="remodal" data-remodal-id="add_modal">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>新增病房</div>
        </div>
        <div class="remodal_body">
            <form>
                <div>
                    <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 病房名稱</label>
                    <input type="text"  name="add_ward_name" id="add_ward_name"  >
                </div>
                <div>
                    <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 病床名稱</label>
                    <input type="text" name="add_bed_name" id="add_bed_name"  >
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="remodal_footer">
            <a href="#" class="btn"  onclick="addBed()"><i class="fa fa-plus" aria-hidden="true"></i> 加入</a>
            <a href="#" class="btn"><i class="fa fa-check" aria-hidden="true"></i> 完成</a>
        </div>
    </div>
    <div class="remodal" data-remodal-id="edit_modal">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>編輯病房</div>
        </div>
        <div class="remodal_body">
            <form>
                <div>
                    <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 病房名稱</label>
                    <input type="hidden" name="edit_bed_id" id="edit_bed_id" value="">
                    <input type="text" name="edit_ward_name" id="edit_ward_name" value="">
                </div>
                <div>
                    <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 病床名稱</label>
                    <input type="text" name=edit_bed_name id="edit_bed_name" value="">
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="remodal_footer">
            <a href="#" class="btn"><i class="fa fa-times" aria-hidden="true"></i> 取消</a>
            <a href="#" class="btn" onclick="updadteBed()"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>


<!--病床清單>-->
<script id="bed-list-template" type="text/x-handlebars-template">


    {{#each result}}
    {{#ifCond bed_id '!=' NULL}}

    <tr class="bed_row">
        <td>
            <input type="checkbox" id="bed_ids" class="bed_ids" value="{{bed_id}}" />
        </td>
        <td>
            <a href="#edit_modal" class="btn edit_bed_btn"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a>
        </td>
        <td id="ward_name_temp">{{ward_name}}</td>
        <td id="bed_name_temp">{{bed_name}}</td>
    </tr>

    {{/ifCond}}
    {{/each}}

</script>

</body>

</html>
