<!DOCTYPE html>
<html>
<%-include ../Common/head.ejs%>
<script type="text/javascript" src="../js/SystemMaintain/emergencyExternalDeviceManage.js"></script>
<body>

<%- include('../Common/left_navbar',{moduleName:'system'}) %>
<%- include('../Common/headerMenu',{moduleName:'system', func:'8' }) %>

<div class="nurse_system">
    <div class="container container_higher">
        <div class="ope_list_search">

            <div>
                <label>病房：</label>
                <input type="text" name="" id="select_ward_name">
            </div>
            <div>
                <label>裝置種類：</label>
                <select id="select_da">
                    <option>病房燈號</option>
                    <option>走道LED看板</option>
                </select>
            </div>
            <div class="btn_group">
                <a href="#" class="btn" onclick="selectBed()"><i class="fa fa-search" aria-hidden="true"></i> 查詢</a>
                <a href="#add_modal" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
                <a href="#" class="btn" onclick="deleteDevice()"><i class="fa fa-minus" aria-hidden="true"></i> 刪除</a>
            </div>
        </div>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>共 <span class="ban" id="device_count"></span> 筆</th>
                <th>編輯</th>
                <th>裝置對應IP</th>
                <th>裝置名稱</th>
                <th>裝置種類</th>
                <th>病房</th>
            </tr>
            </thead>
            <tbody id="device-list-container">

            </tbody>
        </table>
    </div>
</div>
<%-include ../Common/marquee.ejs%>
<div class="remodal" data-remodal-id="add_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>建立緊急外部裝置設定</div>
    </div>
    <div class="remodal_body">
        <form id="new_form">
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 裝置種類</label>
                <select  id="new_da"  onchange="updateFormStatus('new')">
                </select>
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 裝置IP / 路徑名稱</label>
                <input type="text" name="" id="new_ipaddress" >
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 裝置名稱</label>
                <input type="text" name="" id="new_description" >
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 病房名稱</label>
                <select id="new_comments">

                </select>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="remodal_footer">
        <a href="#" class="btn" onclick="addDevice()"><i class="fa fa-plus" aria-hidden="true"></i> 加入</a>
        <a href="#" class="btn"><i class="fa fa-check" aria-hidden="true"></i> 完成</a>
    </div>
</div>
<div class="remodal" data-remodal-id="edit_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>編輯緊急外部裝置設定</div>
    </div>
    <div class="remodal_body">
        <form id="edit_form">
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 裝置種類</label>
                <select id="edit_da"  onchange="updateFormStatus('edit')">
                </select>
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 裝置IP / 路徑名稱</label>
                <input type="hidden" id="edit_id" name="" value="">
                <input type="text" id="edit_ipaddress" name="" value="">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 裝置名稱</label>
                <input type="text" id="edit_description" name="" value="502 雙人病房">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 病房名稱</label>
                <select id="edit_comments">
                </select>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="remodal_footer">
        <a href="#" class="btn"><i class="fa fa-times" aria-hidden="true"></i> 取消</a>
        <a href="#" class="btn" onclick="updateDevice()"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
    </div>
</div>

<!--外部裝置清單>-->
<script id="device-list-template" type="text/x-handlebars-template">


    {{#each result}}

    <tr class="device_row">
        <td>
            <input type="checkbox" class="device_ids" id="device_ids"  value="{{emer_extdevice_id}}"/>
        </td>
        <td>
            <a href="#edit_modal" class="btn edit_device_btn"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a>
        </td>
        <td id="ipaddress_temp">{{ipaddress}}</td>


        {{#ifCond da '==' 2}}
            <td id="description_temp">{{comments}}</td>
        {{else}}
            <td id="description_temp"></td>
        {{/ifCond}}


        <td>{{daName}}
            <input type="hidden" id="da_temp" value="{{da}}" />
        </td>


        {{#ifCond da '==' 1}}
            <td id="comments_temp">{{comments}}</td>
        {{else}}
            <td id="comments_temp"></td>
        {{/ifCond}}

    </tr>

    {{/each}}

</script>


</body>

</html>
