<!DOCTYPE html>
<html>
<%-include ../Common/head.ejs%>

<script type="text/javascript" src="../js/SystemMaintain/privilegeManage.js"></script>
<body>
<%- include('../Common/left_navbar',{moduleName:'system'}) %>
<%- include('../Common/headerMenu',{moduleName:'system', func:'2' }) %>
    <div class="nurse_system">
        <div class="container container_higher">
            <div class="ope_list_search">
                <div class="btn_group">
                    <a href="#control_modal" class="btn" onclick="loadUserRoleList()"><i class="fa fa-address-book-o" aria-hidden="true"></i> 使用者角色管理</a>
                </div>
            </div>
            <div class="grid_twenty">
                <h3 class="doctor">使用者角色</h3>
                <div class="pool" id="userRole-container">


                </div>
            </div>
            <div class="grid_eighty">
                <h3 class="doctor">護理站</h3>
                <div class="pool">

                    <div class="checkbox_list checkbox_list_group" id="wardZone-list-container">

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="ope_list_search">
                <div class="btn_group">
                    <a href="#" class="btn" onclick="updatePrivilegeByRole()"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
                </div>
            </div>
        </div>
    </div>
<%-include ../Common/marquee.ejs%>
    <div class="remodal remodal_1" data-remodal-id="control_modal" style="min-width: 780px;">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>使用者角色管理</div>
        </div>
        <div class="remodal_body">
            <div class="ope_list_search">

                <div>
                    <label>角色名稱：</label>
                    <input type="text" id="user_role_name_add">
                </div>
                <div class="btn_group">
                    <a href="#" class="btn" onclick="addUserRole()"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
                    <a href="#" class="btn" onclick="deleteUserRole()"><i class="fa fa-minus" aria-hidden="true"></i> 刪除</a>
                </div>
            </div>
            <table class="overflow-y">
                <thead>
                    <tr>
                        <th></th>
                        <th>編輯</th>
                        <th>使用者角色</th>
                    </tr>
                </thead>
                <tbody id="userRole-list-manage-container">

                </tbody>
            </table>
        </div>
        <div class="remodal_footer">
            <a href="#" class="btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>
    <div class="remodal" data-remodal-id="edit_modal">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>編輯使用者角色</div>
        </div>
        <div class="remodal_body">
            <form>
                <div>
                    <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 使用者角色</label>
                    <input type="text" id="user_role_name_edit" value="">
                    <input type="hidden" id="user_role_id_edit" value="">
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="remodal_footer">
            <a href="#control_modal" class="btn" onclick="editUserRole()"  ><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>


<!--使用者角色清單>-->
<script id="userRole-list-template" type="text/x-handlebars-template">

    {{#each result}}

    <a href="#" class="btn btn_block user_role_name" data-user-role-id="{{id}}"  data-user-role-name="{{user_role_name}}">{{user_role_name}}</a>

    {{/each}}

</script>


<!--病房區清單>-->
<script id="wardZone-list-template" type="text/x-handlebars-template">

    {{#each result}}

    <label>
        <input id="ward_zone_ids" type="checkbox" class="ward_zone_ids option-input checkbox select_all_check_check" value="{{id}}" />
        {{ward_zone_name}}
    </label>

    {{/each}}

</script>


<!--使用者角色管理的使用者清單>-->
<script id="userRole-list-manage-template" type="text/x-handlebars-template">

    {{#each result}}
    {{#ifCond user_role_name '!=' '系統管理員'}}
    <tr class="role_row">
        <td>
            <input type="checkbox" id="user_role_ids" class="user_role_ids" value="{{id}}" />
        </td>
        <td>
            <a href="#edit_modal" class="btn editUserRoleFormBtn"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a>
        </td>
        <td id="user_role_name_temp">{{user_role_name}}</td>
    </tr>
    {{/ifCond}}
    {{/each}}


</script>

</body>

</html>
