<!DOCTYPE html>
<html>
<%- include ../Common/head.ejs %>
<script type="text/javascript" src="../js/SystemMaintain/sipEstablish.js"></script>
<body>
<%- include('../Common/left_navbar',{moduleName:'system'}) %>
<%- include('../Common/headerMenu',{moduleName:'system', func:'10' }) %>
<div class="nurse_system">
    <div class="container container_higher">
        <div class="ope_list_search">

            <div>
                <label>護理站：</label>
                <select id="select_ward_zone">
                </select>
            </div>
            <div class="btn_group">
                <a href="#" class="btn"  id="search_sipip_btn"><i class="fa fa-search" aria-hidden="true"></i> 查詢</a>
                <!--
                <a href="#add_modal" class="btn" id="add_sipip_btn"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
                <a href="#" class="btn" id="delete_sipip_btn"><i class="fa fa-minus" aria-hidden="true"></i> 刪除</a>
                -->
            </div>
        </div>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>共 <span class="ban" id="sip_ip_count"></span> 筆</th>
                <th>編輯</th>
                <th>護理站</th>
                <th>SIP IP</th>
                <th>SIP 資料庫</th>
                <th>SIP 帳號</th>
                <th>SIP 密碼</th>
                <th>SIP 連結埠號</th>

       

            </tr>
            </thead>
            <tbody id="sip-ip-list-container">

            </tbody>
        </table>
    </div>
</div>
<%- include ../Common/marquee.ejs %>
<div class="remodal" data-remodal-id="add_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>新增 SIP IP</div>
    </div>
    <div class="remodal_body">
        <form>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 護理站</label>
                <select id="add_ward_zone">
                </select>
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP IP</label>
                <input id="add_sip_ip" type="text" name="">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP 資料庫</label>
                <input id="add_sip_ip_dbname" type="text" name="">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP 帳號</label>
                <input id="add_sip_ip_account" type="text" name="">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP 密碼</label>
                <input id="add_sip_ip_password" type="text" name="">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP 連結埠號</label>
                <input id="add_sip_ip_port" type="text" name="">
            </div>

            <div class="clearfix"></div>
        </form>
    </div>
    <div class="remodal_footer">
        <a href="#" class="btn" id="save_sipip_btn"><i class="fa fa-plus" aria-hidden="true"></i> 加入</a>
        <a href="#" class="btn"><i class="fa fa-check" aria-hidden="true"></i> 完成</a>
    </div>
</div>

<div class="remodal" data-remodal-id="edit_modal">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>編輯 SIP IP</div>
    </div>
    <div class="remodal_body">
        <form>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> 護理站</label>
                <input type="hidden" id="edit_sip_ip_id" value="">
                <span id="edit_ward_zone_name">501</span>
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP IP</label>
                <input id="edit_sip_ip" type="text" name="" value="">
            </div>


            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP 資料庫</label>
                <input id="edit_sip_ip_dbname" type="text" name="">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP 帳號</label>
                <input id="edit_sip_ip_account" type="text" name="">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP 密碼</label>
                <input id="edit_sip_ip_password" type="text" name="">
            </div>
            <div>
                <label><i class="fa fa-asterisk must" aria-hidden="true"></i> SIP 連接埠</label>
                <input id="edit_sip_ip_port" type="text" name="">
            </div>



            <div class="clearfix"></div>
        </form>
    </div>
    <div class="remodal_footer">
        <a href="#" class="btn"><i class="fa fa-times" aria-hidden="true"></i> 取消</a>
        <a href="#" class="btn" id="save_sip_ip_btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
    </div>
</div>


<!--SIP IP清單>-->
<script id="sip-ip-list-template" type="text/x-handlebars-template">

    {{#each result}}

    <tr class="sip_ip_row">
        <td>
            <input type="checkbox" class="sip_ip_ids" value="{{sip_ip_id}}"/>
        </td>
        <td>
            <input type="hidden" id="ward_zone_ids" value="{{ward_zone_id}}">
            <a href="#edit_modal" class="btn edit_sipip_btn"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a>
        </td>
        <td id="ward_zone_names">{{ward_zone_name}}</td>
        <td id="sip_ips">{{sip_ip}}</td>
        <td id="DBNames">{{DBName}}</td>
        <td id="DBAccounts">{{DBAccount}}</td>
        <td id="DBPasswords">{{DBPassword}}</td>
        <td id="DBPorts">{{DBPort}}</td>


    </tr>

    {{/each}}

</script>
</body>

</html>
