<!DOCTYPE html>
<html>
<%- include ../Common/head.ejs %>
<body>
<%- include('../Common/left_navbar',{moduleName:'system'}) %>
<%- include('../Common/headerMenu',{moduleName:'system', func:'5' }) %>
<div class="nurse_system">
    <div class="container container_higher">
        <div class="welcome">
            <p style="color: #ffffff;">生理醫護監測管理系統</p>
            <div class="welcome_content">
                <div>
                    <label>統計方式：</label>
                    <div class="checkbox_list text-left radio_list">
                        <label>
                            <input type="radio" class="option-input checkbox" name="counter" /> 月統計
                        </label>
                        <label>
                            <input type="radio" class="option-input checkbox" name="counter" /> 季統計
                        </label>
                        <label>
                            <input type="radio" class="option-input checkbox" name="counter" /> 年統計
                        </label>
                    </div>
                </div>
                <div>
                    <label>護理站：</label>
                    <div class="checkbox_list" style="max-width: 490px;">
                        <a href="#choose_room_stop" class="btn"><i class="fa fa-h-square" aria-hidden="true"></i> 選擇護理站</a>
                        <hr>
                        5A、5B、5C、6A、6B、7A、7B、7C、8A、8B
                    </div>
                </div>
                <div class="date_range">
                    <label>起迄日期：</label>
                    <input id="ope_range" type="text" class="datepicker-here" data-range="true" data-multiple-dates-separator=" ~ " data-language="zh" data-position="top right" placeholder="2016-11-11 ~ 2016-11-11">
                </div>
            </div>
            <div class="welcome_content_bottom">
                <div class="text-center">
                    <a href="#open_list" class="btn"><i class="fa fa-check" aria-hidden="true"></i> 開始</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../Common/marquee.ejs %>


<div class="remodal" data-remodal-id="open_list" style="min-width: 1200px;">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>點滴結束淨重月統計報表</div>
    </div>
    <div class="remodal_body">
        <div class="modal_list_search">
            <div>起迄日期：<span class="doctor">2016-11-11 ~ 2016-11-11</span></div>
            <div><i class="fa fa-print" aria-hidden="true"></i> 列印日期：<span class="doctor">2016-11-11</span></div>
            <div><i class="fa fa-h-square" aria-hidden="true"></i> 護理站：<span class="doctor">5A、5B、6A、7B</span></div>
        </div>
        <table class="overflow-y">
            <thead>
            <tr>
                <th>監測日期</th>
                <th>點滴ID</th>
                <th>點滴種類</th>
                <th>點滴容量</th>
                <th>輸液管種類</th>
                <th>平均結束淨重 (g)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-11-11</td>
                <td>005435</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2016-11-11</td>
                <td>005435</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2016-11-11</td>
                <td>005435</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2016-11-11</td>
                <td>005435</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2016-11-11</td>
                <td>005435</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="remodal remodal_3" data-remodal-id="choose_room_stop">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal_header">
        <div>選擇護理站</div>
    </div>
    <div class="remodal_body">
        <div class="ope_list_search ope_list_search_left">

            <hr>
            <div class="checkbox_list">
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 5A
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 5B
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 5C
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 6A
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 6B
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 5A
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 5B
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 5C
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 6A
                </label>
                <label>
                    <input type="checkbox" class="option-input checkbox choose_room_stop_check_check" /> 6B
                </label>
            </div>
        </div>
    </div>
    <div class="remodal_footer">
        <a href="#" class="btn"><i class="fa fa-search" aria-hidden="true"></i> 查詢</a>
    </div>
</div>

</body>

</html>
