::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 6px;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: '微軟正黑體', Arial;
    color: #535353;
    font-size: 20px;
    background-color: #000817;
}

iframe {
    width: 100%;
    height: 79vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1 span {
    border: 3px solid #ffffff;
    border-radius: 10px;
    background: #30c0f0;
    position: relative;
    color: #ffffff;
    font-size: 24px;
    padding: 0 10px;
    margin-bottom: 2px;
    display: inline-block;
}

h1 span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: block;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

input[type="text"],
input[type="password"] {
    height: 40px;
    width: 230px;
    box-sizing: border-box;
    border: 1px solid #cdd1d5;
    line-height: 40px;
    padding: 0 15px;
    outline: none;
    font-weight: bold;
    color: #535353;
}

input[type="checkbox"] {
    box-sizing: border-box;
    border: 1px solid #cdd1d5;
    border-radius: 0;
}

input[type="number"] {
    height: 40px;
    width: 80px;
    box-sizing: border-box;
    border: 1px solid #cdd1d5;
    line-height: 40px;
    padding: 0 0 0 15px;
    outline: none;
    font-weight: bold;
    color: #535353;
}

textarea {
    box-sizing: border-box;
    border: 1px solid #cdd1d5;
    /*line-height: 40px;*/
    padding: 5px 15px;
    outline: none;
    font-weight: bold;
    color: #535353;
    width: 100%;
    min-height: 40px;
    resize: vertical;
}

select {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #cdd1d5;
    line-height: 40px;
    padding: 0 15px;
    outline: none;
    font-weight: bold;
    color: #535353;
}

ul {
    margin: 0;
}

.fa-stack {
    line-height: 24px;
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.fa-stack-2x {
    font-size: 22px;
}

.fa-stack-1x {
    font-size: 13px;
    font-weight: bold;
}

.fa-stack-1x.fa-mars {
    color: #ffffff;
}

.fa-stack-2x.fa-mars-out {
    color: #446CB3;
}

.fa-stack-1x.fa-venus {
    color: #ffffff;
}

.fa-stack-2x.fa-venus-out {
    color: #DB0A5B;
}

.row {
    clear: both;
}

.nurse_system {
    padding-left: 200px;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    clear: both;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 120px;
    padding-bottom: 80px;
}

.container_inner {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
}

.container.container_1500 {
    width: 1500px;
    padding-right: 0;
    padding-left: 0;
}

.nurse_system .container {
    width: 1200px;
    padding-top: 170px;
}

.container_higher {
    padding-top: 120px;
    padding-bottom: 0;
    height: 100%;
    box-sizing: border-box;
}

.nurse_system .container_higher {
    padding-top: 170px;
}

.clearfix {
    clear: both;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-center-block {
    display: block !important;
    text-align: center;
    margin-bottom: 15px;
    width: 70%;
}

.text-20 {
    font-size: 20px;
}


/* dropdown */

.dropdown {
    position: absolute;
    top: 0;
    right: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 1;
    right: -10px;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* grids */

.grid_fifty {
    width: 50%;
    display: inline-block;
    float: left;
    position: relative;
}

.grid_third {
    width: 33.33%;
    display: inline-block;
    float: left;
    position: relative;
}

.grid_fourth {
    width: 40%;
    display: inline-block;
    float: left;
    position: relative;
}

.grid_sixty {
    width: 66.66%;
    display: inline-block;
    float: left;
    position: relative;
}

.grid_sixty_2 {
    width: 60%;
    display: inline-block;
    float: left;
    position: relative;
}

.grid_eighty {
    width: 80%;
    display: inline-block;
    float: left;
    position: relative;
}

.grid_twenty {
    width: 20%;
    display: inline-block;
    float: left;
    position: relative;
}

.grid_twenty #refresh {
    top: 0;
    right: 0;
    left: initial;
}


/* btn */

.btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #09a3f0;
    color: #ffffff;
    padding: 0 15px;
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
    /*margin-right: 10px;*/
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

.btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

.btn:hover {
    color: #ffffff;
    box-shadow: 0 0 30px rgba(100, 100, 100, .5);
}

.btn.active {
    /*color: #535353;*/
    box-shadow: 0 0 30px rgba(100, 100, 100, .5);
    /*border: 5px solid #25c9da;*/
    box-sizing: content-box;
    background-color: #278ad8;
}

.btn_group {
    text-align: right;
}

.btn_group .btn:last-child {
    margin-right: 0;
}

.btn_group.btn_group_bottom {
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.btn_group.btn_group_bottom .btn {
    margin: 0 10px;
}

.btn_group.btn_group_bottom .weeks {
    position: absolute;
    left: 0px;
    background: #187f53;
    background-image: linear-gradient(#187f53, #4cd69a)
}

.btn.btn_block {
    display: block;
    margin-bottom: 10px;
}

.must {
    color: #ea4335;
}

.room_des .btn {
    margin-right: 20px !important;
    color: #404040 !important;
}

.room_des .btn small {
    height: 25px;
    display: block;
}


/* badge */

.badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}

.badge_1 {
    background-color: #e67781;
    color: #ffffff;
}

.badge_2 {
    background-color: #258bda;
    color: #ffffff;
}


/*checkbox*/

.checkbox_list label {
    margin-right: 20px;
    font-weight: bold;
    background-color: #ffffff;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 0 10px 0 50px;
    position: relative;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: absolute;
    /*top: 13.33333px;*/
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    z-index: 1000;
}

.option-input[type="radio"] {
    border-radius: 20px;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #278ad8;
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '\f00c';
    font-family: FontAwesome;
    font-weight: bold;
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}


/*.option-input[type="radio"]:checked {
    border-radius: 20px;
}*/

.option-input[type="radio"]:checked::before {
    content: '\f111';
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #278ad8;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}


/*radio*/

.checkbox_list.radio_list label {
    margin: 10px 0;
}


/* datepicker */

.datepicker {
    font-size: 20px;
    /*color: #34425a;*/
    font-family: '微軟正黑體', Arial;
    font-weight: bold;
    width: 300px;
    z-index: 99999;
}

.datepicker--cell {
    height: 40px;
}

.datepicker--day-name {
    color: #fbbc05;
    font-weight: bold;
    font-size: 20px;
}

.datepicker--nav-title {
    font-weight: bold;
}

.datepicker--cell.-current- {
    /*color: #4285f4;*/
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
    background-color: #4285f4;
}

.welcome .datepicker-inline .datepicker {
    width: 820px;
}

.welcome .datepicker-inline .datepicker--cells-months {
    height: auto;
}

.welcome .datepicker-inline .datepicker--nav {
    min-height: 60px
}

.welcome .datepicker-inline .datepicker--cell {
    height: 100px;
    border: 1px solid #f0f0f0;
}

dd .datepicker-inline .datepicker {
    margin: 0 auto;
}

.only-timepicker .datepicker--nav,
.only-timepicker .datepicker--content {
    display: none;
}

.only-timepicker .datepicker--time {
    border-top: none;
}


/* date range */

.date_range input#ope_range {
    width: 285px;
}

.time_range input#time_range_1,
.time_range input#time_range_2 {
    width: 110px;
    padding-left: 0;
    padding-right: 0;
}


/* remodal */

.remodal-close {
    right: 5px;
    left: initial;
    top: 5px;
}

.remodal-close:before {
    font-size: 60px;
}

.remodal {
    padding: 0;
    max-height: 80%;
    background: #ff3429;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff3429, #b51c39);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff3429, #b51c39);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.remodal_header {
    background-color: #ffffff;
    padding: 10px 0;
    color: #34425a;
    font-weight: bold;
}

.remodal_header>div {
    display: inline-block;
    margin: 0 20px;
}

.remodal_body {
    padding: 20px;
    /*background-color: #ffffff;*/
    font-size: 24px;
}

.remodal_footer {
    /*background-color: #cdd1d5;*/
    padding: 20px;
    color: #34425a;
    margin-top: -20px;
    text-align: right;
}

.remodal form div {
    clear: both;
    font-size: 20px;
}

.remodal form div label {
    display: inline-block;
    width: 30%;
    float: left;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 20px;
}

.remodal form div input[type="text"],
.remodal form div input[type="password"] {
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    font-weight: normal;
}

.remodal form div div.pure_form_text {
    width: 70%;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    font-weight: normal;
    clear: none;
    text-align: left;
    line-height: 40px;
}

.remodal form div div.checkbox_list.radio_list {
    width: auto;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    font-weight: normal;
    clear: none;
    text-align: left;
    line-height: 40px;
}

.remodal form div div.checkbox_list.radio_list label {
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 30px;
}

.minicolors-theme-default.minicolors {
    clear: none;
    float: left;
    height: 40px;
}

.minicolors-theme-default .minicolors-swatch {
    width: 30px;
    height: 30px;
    border: none;
    box-sizing: border-box;
}

.minicolors-position-bottom .minicolors-panel {
    top: 40px;
    left: 0;
}

.remodal form div input[type="text"].color_picker {
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    font-weight: normal;
    padding: 0 40px 0 15px;
}

.remodal form div select {
    min-width: 30%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    font-weight: normal;
}

.remodal form div textarea {
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    font-weight: normal;
}

.remodal form div span {
    min-width: 10%;
    line-height: 40px;
    display: inline-block;
    float: left;
}

.remodal form div .must {
    color: #ea4335;
    vertical-align: super;
    font-size: 8px;
}

.remodal td {
    padding: 10px;
    border: 1px solid #dddddd;
}

.remodal td.table_date {
    background-color: #85dbf9;
    color: #ffffff;
    font-weight: bold;
}

.remodal .modal_pure_text {
    font-size: 20px;
    margin: 10px 0;
}

.remodal .grid_third .sticky-wrap.overflow-y {
    margin: 10px 0;
    max-height: 30vh;
}

.remodal .sticky-wrap.overflow-y {
    overflow-x: hidden;
    margin: 0;
}

.remodal .modal_list_search {
    font-size: 20px;
    text-align: left;
}

.remodal .modal_list_search > div {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
}

.remodal .ope_list_search {
    font-size: 20px;
}

.remodal .ope_list_search label {
    margin-right: 0;
    margin-bottom: 10px;
}

.remodal .ope_list_search.ope_list_search_bottom {
    margin-top: 10px;
}

.remodal .pws_tabs_container {
    margin-top: 0;
    margin-bottom: 20px;
}


/* tabs */

.pws_tabs_container ul.pws_tabs_controll {
    text-align: right;
}

.pws_tabs_container {
    margin-top: 10px;
}

.pws_tabs_container .pws_tabs_container {
    margin-top: 0;
}

.pws_tabs_container .pws_tabs_container ul.pws_tabs_controll {
    text-align: left;
}

.pws_tabs_container,
.pws_tabs_controll a {
    font-weight: bold;
}


/* table */

table {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

table th {
    background-color: #8c7963;
    /*color: #f5f5f5;*/
    font-size: 18px;
}

table tr {
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

tbody tr:nth-child(2n-1) {
    background-color: rgba(255, 182, 148, 1);
    transition: all .125s ease-in-out;
}

tbody th {
    text-align: center;
}

td.err {
    background-color: #e67781;
}

td.date {
    white-space: nowrap;
}

td input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

td label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #fbbc05;
    border: 1px solid #fbbc05;
    color: #404040;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
}

td label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    border-radius: 5px;
}

.bed_number_label {
    background-color: #ffcf9c;
    border: 2px solid #000000;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #000000;
}

table tr.table_hard_1 {
    background-color: rgba(255, 171, 171, .5) !important;
}

table tr.table_hard_2 {
    background-color: rgba(255, 219, 171, .5) !important;
}

table tr.table_hard_3 {
    background-color: rgba(221, 255, 171, .5) !important;
}

table tr.table_hard_4 {
    background-color: rgba(171, 228, 255, .5) !important;
}

table tr.table_hard_5 {
    background-color: rgba(216, 171, 254, .5) !important;
}

table tr.table_hard_white {
    background-color: rgba(255, 255, 255, 1) !important;
}

.has_big_table .sticky-wrap {
    margin-bottom: 0 !important;
    margin-top: 20px !important;
    max-height: 53vh !important;
}

.has_big_table th,
.has_big_table td,
.out_has_big_table th,
.out_has_big_table td {
    padding: 10px;
}

.iframe_inner_table>table {
    height: 88vh;
    overflow-y: auto;
}

.grid_table .sticky-wrap {
    margin-bottom: 20px !important;
}

.grid_table.grid_table_no_margin .sticky-wrap {
    margin-top: 0 !important;
}

.remodal tbody tr:nth-child(2n-1) {
    background-color: #fffbd6;
}


/* according */

dl {
    margin: 0 0 20px 0;
}

dd {
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
    background: #fbfbfb;
    padding: 10px;
}

dt {
    cursor: pointer;
    font-size: 20px;
    line-height: 23px;
    background: #25c9da;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
    font-weight: 400;
    color: #fff;
    text-align: left;
    padding: 10px 14px;
}

dt:first-child {
    border-top: none;
}

dt:nth-last-child(2) {
    border-bottom: none;
}

.hide {
    display: none;
}


/* login */

body#login {
    background-image: url(../images/login_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#login_box {
    width: 820px;
    height: 680px;
}

.login_box_header,
.login_box_footer {
    background-color: rgba(39, 138, 216, .9);
}

.login_box_header {
    height: 100px;
    border-radius: 20px 20px 0 0;
    background-position: top left;
    background-repeat: no-repeat;
}

.login_box_header h1 {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding-top: 25px;
}

.login_box_body {
    background-color: rgba(255, 255, 255, .9);
    height: 350px;
}

.login_box_body form {
    width: 100%;
    padding-top: 30px;
}

.login_box_body form>div {
    margin: 20px 0;
}

.login_box_body form>div>label {
    font-weight: bold;
    display: inline-block;
    width: 220px;
    text-align: right;
    padding-right: 40px;
    font-size: 28px;
    line-height: 67px;
}

.login_box_body>form>div>input[type="text"],
.login_box_body>form>div>input[type="password"] {
    width: 452px;
    min-height: 67px;
    border: 3px solid #404040;
    box-sizing: border-box;
    outline: none;
    font-size: 32px;
    padding: 10px;
    box-sizing: border-box;
    color: #404040;
    font-weight: bold;
    font-family: '微軟正黑體', Arial;
}

.login_box_body form select {
    width: 452px;
    height: 67px;
    line-height: 40px;
    border: 3px solid #404040;
    box-sizing: border-box;
    outline: none;
    font-size: 32px;
    padding: 10px;
    box-sizing: border-box;
    color: #404040;
    font-weight: bold;
    font-family: '微軟正黑體', Arial;
}

.popover-select-wrapper {
    display: inline-block;
    border: 3px solid #404040;
    box-sizing: border-box;
    vertical-align: top;
    min-height: 67px;
    height: auto !important;
}

.popover-select-tags {
    width: 100%;
    height: 61px;
    margin: 0;
    border: none;
    background: none;
}

.placeholder-text {
    line-height: 61px;
    top: 0;
}

.login_box_footer {
    height: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.login_box_footer a {
    width: 360px;
    height: 60px;
    background-color: #f35f2a;
    color: #ffffff;
    display: block;
    border-radius: 30px;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
}


/* room select */

.container.container_room_stop {
    max-height: 80%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, .5);
    padding: 20px;
}

.room_stop {
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.room_stop a {
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
}

.room_stop a:hover {
    box-shadow: 0 0 30px rgba(100, 100, 100, .5)
}

.room_stop_inner {
    background-color: #ffffff;
    height: 200px;
    position: relative;
    font-size: 120px;
    line-height: 120px;
    font-weight: bold;
    z-index: 9;
    display: block;
    border-radius: 20px;
    border: 10px solid #cdd1d5;
}

.room_stop_inner:before {
    content: "\f0fd";
    font-family: FontAwesome;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    color: #e67781;
    opacity: .5;
    font-size: 150px;
    z-index: -1;
}


/* header */

header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

#head {
    background-color: #000817;
    height: 50px;
    display: block;
}

#head img {
    height: 30px;
    display: inline-block;
    float: left;
    margin: 10px;
}

#head h4 {
    margin: 0;
    line-height: 50px;
    padding-left: 10px;
    display: inline-block;
    float: left;
    color: #ffffff;
}

#head .head_right_nav {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 50px;
}

#head .head_right_nav span {
    padding: 0 30px;
}

#head .room_number {
    font-size: 32px;
    color: #ff9900;
}

#head h4.head_time {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

#setting {
    color: #737373;
    position: absolute;
    right: 30px;
    top: 75px;
}

#head #setting {
    top: 0;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#navbar ul {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

#navbar ul.navbar_longer {
    table-layout: auto;
}

#navbar ul li {
    display: table-cell;
    height: 70px;
}

#navbar ul li:last-child {
    border-right: none
}

#navbar ul li a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 70px;
    color: #ffffff;
    background: #094d68;
    /*for compatibility with older browsers*/
    background-image: linear-gradient(#094d68, #18b2ff);
    /*background-color: #25c9da;*/
    font-weight: bold;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    border-top: 2px solid #34425a;
    border-right: 2px solid #34425a;
    border-left: 2px solid #34425a;
    box-sizing: border-box;
}

#navbar ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}

#navbar ul li a#nav_refresh {
    background: #ea4335;
    /*for compatibility with older browsers*/
    /*background-image: linear-gradient(#187f53, #4cd69a);*/
    margin: 0 10px;
    border-radius: 10px;
}

#navbar ul li a#nav_refresh:after {
    border-radius: 8px;
}

#navbar.nurse_system ul li a {
    background-color: #2c5fc4;
    /*background-color: #25c9da;*/
    border-right: 5px solid #fff;
}

#navbar ul li a:hover {
    background-color: #cdd1d5;
}

#navbar ul li a.active {
    background: #84c441;
    /*for compatibility with older browsers*/
    background-image: linear-gradient(#84c441, #398221);
}

#left_vertical_navbar {
    width: 200px;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    border-right: 5px solid #fff;
    z-index: 9;
    /*background-color: #f5f5f5;*/
    background-color: #278ad8;
}

#left_vertical_navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#left_vertical_navbar ul li {
    height: 70px;
    /*border-bottom: 5px solid #ccc;*/
}

#left_vertical_navbar ul li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: left;
    line-height: 70px;
    color: #ffffff;
    font-weight: bold;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

#left_vertical_navbar ul li a:hover {
    background-color: #cdd1d5;
}

#left_vertical_navbar ul li a.active {
    background-color: #f35f2a;
}

#left_vertical_navbar ul li a i {
    padding-right: 20px;
    width: 35px;
    text-align: center;
}


/* rooms */

.rooms {
    width: 10%;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    font-size: 14px;
}

.rooms_inner {
    background-color: #ffffff;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    border: 2px solid #cdd1d5;
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
}

.rooms_inner.empty {
    background: #094d68;
    background-image: linear-gradient(#bbbbbb, #f1f1f1);
}

.rooms_inner:hover {
    box-shadow: 0 0 30px rgba(100, 100, 100, .5)
}

.rooms_inner p {
    margin: 5px 0;
}

.label {
    width: 100px;
    text-align: right;
    color: #404040;
    display: inline-block;
}

.rooms_inner .label {
    width: auto;
}

.male,
.female {
    white-space: nowrap;
}

.male:before {
    background-color: #446CB3;
    color: #ffffff;
    content: "\f222";
    font-family: FontAwesome;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 12px;
    line-height: 100%;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    vertical-align: top;
    box-sizing: border-box;
    margin-right: 5px;
}

.female:before {
    background-color: #DB0A5B;
    color: #ffffff;
    content: "\f221";
    font-family: FontAwesome;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 12px;
    line-height: 100%;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    vertical-align: top;
    box-sizing: border-box;
    margin-right: 5px;
}

.doctor {
    color: #278ad8;
}

.red {
    color: #ea4335;
}

.doctor_cond {
    color: #404040;
}

.doctor_cond .cond_dot {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0;
}

.room_cond {
    margin: 0 auto;
    text-align: left;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #404040;
    position: relative;
    padding-left: 5px;
    box-sizing: border-box;
}

.room_cond:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

.hard {
    background-color: #e67781;
}

.medium {
    background-color: #fbbc05;
}

.light {
    background-color: #84e1d4;
}

.both {
    background: linear-gradient(to right, #e67781 0%, #e67781 50%, #fbbc05 50%, #fbbc05 100%);
}

.empty_bed {
    color: #404040;
    line-height: 100px;
    text-align: center;
    display: block;
    margin: 0 0 15px;
    font-weight: bold;
}

.cond_dots_list {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 75px;
    line-height: 12px;
    text-align: right;
}

.cond_dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 2px;
    line-height: 16px;
}

.cond_red {
    position: relative;
}

.cond_red:before {
    content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #D35400;
    font-size: 18px;
    position: absolute;
}

.cond_yellow {
    position: relative;
}

.cond_yellow:before {
    content: "";
    background-image: url(../images/scalpel.png);
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    top: -3px;
}

.cond_green {
    position: relative;
}

.cond_green:before {
    content: "\f15c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #125121;
    font-size: 18px;
    position: absolute;
}

.cond_blue {
    background-color: #4285f4;
    color: #ffffff;
}

.cond_star {
    position: relative;
}

.cond_star:before {
    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    position: absolute;
}

.cond_give {
    position: relative;
}

.cond_give:before {
    content: "\f2b5";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #4285f4;
    font-size: 18px;
    position: absolute;
}

.cond_ban {
    position: relative;
}

.cond_ban:before {
    content: "\f05c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #b51c39;
    font-size: 18px;
    position: absolute;
}

.cond_critical {
    position: relative;
}

.cond_critical:before {
    content: "※";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #585858;
    font-size: 24px;
    position: absolute;
    font-weight: bold;
}

.room_des {
    width: 100%;
}

.room_des_inner {
    margin: 0 auto;
    /*width: 1680px;*/
    height: 60px;
}

.room_des_left {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    position: relative;
}

.room_des_left a.btn {
    padding: 0 10px;
    text-align: center;
    margin: 0 10px;
    color: #ffffff;
    line-height: 30px;
    height: 30px;
}

.room_des_right {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    position: relative;
}

.room_des a.btn {
    padding: 0 10px;
    text-align: center;
    margin: -3px 0px 2px 10px;
    color: #ffffff;
    line-height: 25px;
    height: 25px;
}

.room_des_right_2 {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.room_des_right_2 a:last-child {
    margin-right: 0 !important;
}

.room_des_full {
    width: 100%;
    /*height: 60px;*/
    line-height: 60px;
    display: inline-block;
    float: left;
    margin-top: -20px;
    /*background-color: #e2e7ed;*/
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
}

.room_des_square {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 20px 0 10px;
}

.room_des_right .cond_dot,
.room_des_full .cond_dot {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0 10px 0 20px;
}

.cond_dots_list  .cond_dot {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.cond_dots_list  .cond_dot:before {
    position: static;
    width: 12px;
    height: 12px;
    font-size: 12px;
}

/* beds */

#beds {
    position: relative;
}

#refresh {
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: #31bc86;
    color: #ffffff;
    padding: 20px;
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
}

#refresh:hover {
    box-shadow: 0 0 30px rgba(100, 100, 100, .5)
}

#refresh.refresh_2 {
    position: static;
    float: right;
    line-height: 20px;
}

#beds .pws_tabs_container,
#beds .pws_tabs_controll a {
    font-size: 22px;
}

.bed {
    box-sizing: border-box;
    width: 12.5%;
    display: inline-block;
    float: left;
    padding: 5px;
    color: #404040;
}

.bed_inner {
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #cdd1d5;
    position: relative;
    height: 180px;
    display: block;
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
}

.bed_inner:hover {
    box-shadow: 0 0 30px rgba(100, 100, 100, .5)
}

.bed_inner.empty_bed {
    border: 2px dashed #34425a;
}

.bed_drops {
    position: absolute;
    color: #25c9da;
    top: 10px;
    right: 10px;
}

.bed_header {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    position: relative;
}

.bed_header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.bed_body {
    padding: 10px;
    box-sizing: border-box;
}

.bed_body p {
    margin: 5px 0;
}

.instance {
    background-color: #f35f2a;
    color: #ffffff;
}

.causion {
    background-color: #fbbc05;
    color: #ffffff;
}

.normal {
    background-color: #ffffff;
}

.none {
    background-color: #cdd1d5;
}

.empty {
    border: 2px dashed #34425a;
}

.ban {
    color: #c60f13;
}

.bed_inner.ban {
    position: relative;
    color: #34425a;
}

.bed_inner.ban:before {
    content: "\f05e";
    font-family: FontAwesome;
    left: -5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #c60f13;
    font-size: 60px;
    text-align: center;
    display: block;
    line-height: 150px;
}

.bed_inner.bed_nurse {
    background-color: #e2e7ed;
    font-size: 32px;
    line-height: 150px;
    text-align: center;
    border: none;
    cursor: initial;
}

.bed_inner.bed_nurse:hover {
    box-shadow: none;
}


/* ope */

#ope_list {
    position: relative;
}

#ope_list .ope_list_search {
    position: absolute;
    width: 1500px;
}

.ope_list_search {
    text-align: right;
}

.ope_list_search.ope_list_search_bottom {
    margin-top: 10px;
    margin-bottom: -40px;
}

.ope_list_search.ope_list_search_left {
    text-align: left;
}

.ope_list_search>div {
    display: inline-block;
    margin-left: 10px;
}

#ope_list .sticky-wrap.overflow-y {
    max-height: 69vh;
    margin: 0;
}


/* nurse */

.nurse_tabs .sticky-wrap {
    margin: 0;
    max-height: 65vh;
}

.sticky-wrap .sticky-thead {
    width: 100% !important;
}

.nurse_tabs .nurse_tabs_nested .sticky-wrap {
    margin: 0;
    max-height: 68vh;
}

.nurse_tabs .sticky-wrap tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: rgba(255, 207, 99, .5);
    color: #000084;
}

table tr.active {
    background-color: rgba(255, 207, 99, .5);
    color: #000084;
}

.todo_list {
    width: 100%;
    height: 65vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e2e7ed;
}

.todo_list ul {
    width: 100%;
    list-style-position: inside;
    padding-left: 0;
}

.todo_list ul li {
    padding-left: 20px;
    margin-bottom: 10px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

.todo_list.todo_list_left ul li {
    margin-bottom: 0;
}

.todo_list.todo_list_left ul li a {
    width: 90%;
    display: inline-block;
    padding: 10px 5px;
    box-sizing: border-box;
}

.todo_list.todo_list_left ul li.active {
    background-color: #25c9da;
    color: #ffffff;
}

.todo_list.todo_list_left ul li:hover {
    background-color: #25c9da;
    color: #ffffff;
}


/* in and out */

#in_and_out {
    position: relative;
}

#in_and_out .sticky-wrap {
    margin: 0;
    margin-bottom: 0px;
    height: 30vh;
}

#in_and_out .no_data .sticky-wrap:after {
    font-family: '微軟正黑體', Arial;
    left: -5px;
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #e67781;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 250px;
    background-color: #e2e7ed;
}

#in_and_out .no_data.no_data_in .sticky-wrap:after {
    content: "目前無剛入院病患";
}

#in_and_out .no_data.no_data_out .sticky-wrap:after {
    content: "目前無出院病患";
}

#in_and_out .no_data.no_data_change .sticky-wrap:after {
    content: "目前無預約轉床病患";
}

#in_and_out h1 {
    margin: 0;
    font-size: 1.5em;
}

#in_and_out a#refresh {
    left: 0;
    bottom: 100px;
}


/* out */

#out {
    position: relative;
}

#out h1 {
    margin: 0;
    font-size: 1.5em;
}

#out a#refresh {
    left: 0;
}

#out .sticky-wrap.overflow-y {
    max-height: 74vh;
    height: 74vh;
    margin: 0;
}

#out.no_data .sticky-wrap:after {
    font-family: '微軟正黑體', Arial;
    left: -5px;
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #e67781;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 590px;
    background-color: #e2e7ed;
    content: "目前無出院病患";
}


/*tabs*/

.pws_tabs_list {
    border: solid 1px #ccc;
    border-radius: 10px 10px 0 10px;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a {
    background-color: #ffffff;
    color: #8f8f8f;
    border: solid 1px #ccc;
    padding: 10px 25px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    position: relative;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a:hover {
    background-color: #e2e2e2;
    color: #8f8f8f;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a.pws_tab_active {
    background-color: #278ad8;
    color: #ffffff;
    border: solid 1px #278ad8;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a[data-tab-id=nurse_tabs_1] {
    background-color: #00b26b;
    border: 1px solid #00b26b;
    opacity: .6;
    color: #ffffff;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a[data-tab-id=nurse_tabs_2] {
    background-color: #4aaab5;
    border: 1px solid #4aaab5;
    opacity: .6;
    color: #ffffff;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a[data-tab-id=nurse_tabs_nested_1_1],
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a[data-tab-id=nurse_tabs_nested_2_1] {
    background-color: #ff9639;
    border: 1px solid #ff9639;
    opacity: .6;
    color: #ffffff;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a[data-tab-id=nurse_tabs_nested_1_2],
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a[data-tab-id=nurse_tabs_nested_2_2] {
    background-color: #083494;
    border: 1px solid #083494;
    opacity: .6;
    color: #ffffff;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a[data-tab-id=nurse_tabs_nested_1_3],
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a[data-tab-id=nurse_tabs_nested_2_3] {
    background-color: #730084;
    border: 1px solid #730084;
    opacity: .6;
    color: #ffffff;
}

.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a:hover,
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a.pws_tab_active {
    opacity: 1;
}


/* nurse_nested tabs */

.pws_tabs_list .pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a.pws_tab_active {
    /*background-color: #f5f5f5;*/
}

.pws_tabs_list .pws_tabs_list {
    background-color: #f5f5f5;
    padding: 10px;
}

.has_nested_tabs .pws_tabs_list {
    padding: 0;
    border: none;
    background: none;
    border-radius: 0;
}

.has_nested_tabs .pws_tabs_list .pws_tabs_list {
    padding: 20px;
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
}

.has_nested_tabs>.pws_tabs_container {
    position: relative;
}

.has_nested_tabs>.pws_tabs_container>ul.pws_tabs_controll {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bed_label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #fbbc05;
    border: 1px solid #fbbc05;
    color: #404040;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
}

.bed_label.bed_label_bed {
    background-color: #09a3f0;
    border: 1px solid #09a3f0;
    color: #404040;
}

.bed_label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    border-radius: 5px;
}

.bed_label.new:after {
    content: 'N';
    color: #ffffff;
    position: absolute;
    top: -7px;
    right: -2px;
    font-size: 10px;
    background-color: #c60f13;
    padding: 0 5px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(100, 100, 100, .5);
    font-weight: bold;
}


/* welcome */

.welcome {
    width: 820px;
    margin: 0 auto;
}

.welcome h1 {
    margin: 30px 0;
    font-size: 60px;
    text-align: center;
}

.welcome .welcome_content {
    border-top: 5px solid #cccccc;
    border-bottom: 5px solid #cccccc;
    padding-top: 70px;
    padding-bottom: 70px;
}

.welcome .welcome_content.welcome_content_lower {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.welcome .welcome_content div {
    font-size: 32px;
    line-height: 60px;
    font-weight: bold;
}

.welcome .welcome_content div label {
    width: 320px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.welcome .welcome_content div span {
    padding-left: 40px;
}

.welcome form div {
    margin: 20px 0;
}

.welcome form div label {
    width: 50%;
    text-align: right;
    display: inline-block;
}

.welcome .welcome_content .checkbox_list {
    display: inline-block;
}

.welcome .welcome_content .checkbox_list label {
    width: auto;
    margin: 10px 0;
}

.welcome .welcome_content .date_range input#ope_range {
    width: 445px;
}

.welcome .welcome_content_bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome .welcome_content_bottom div {
    font-size: 24px;
    line-height: 60px;
    font-weight: bold;
}

.welcome .welcome_content_bottom div .btn {
    font-size: 20px;
}

.nurse_system .container_higher .sticky-wrap.overflow-y {
    max-height: 60vh;
    margin: 50px 0 0 0;
}


/* 排班系統 */

.nurse_list {
    overflow-y: auto;
    height: 600px;
    font-size: 20px;
}

.nurse_list a {
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #ffffff;
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.nurse_list a:hover {
    box-shadow: 0 0 30px rgba(100, 100, 100, .5)
}

.nurse_list a.active {
    background-color: #fbbc05;
}

.check_day_list {
    font-size: 16px;
    margin-bottom: 20px;
}

.check_day_list>div {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}

.month_des_list {
    background-color: #ffffff;
    padding: 10px;
    line-height: 40px;
    margin-top: 30px;
}

.date_before {
    background-color: #aeaeae;
}

.date_now {
    background-color: #4EB5E6;
}

.date_after {
    background-color: #278ad8;
}

.date_others {
    background-color: #dedede;
}

.date_checklist_pool {
    border: 1px solid #cccccc;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.date_checklist_pool .checkbox_list {
    margin: 10px 0;
}

.doctor_radio_pool {
    border: 1px solid #cccccc;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    margin-left: 0 !important;
}

.doctor_radio_pool>div {
    margin: 10px;
}

.out_note_pool,
.out_note_pool_2 {
    border: 1px solid #cccccc;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 0;
    background-color: #ffffff;
    min-height: 100px
}

#notes,
#notes_2 {
    font-size: 20px;
    margin-bottom: 20px;
}


/* colors */

.color {
    width: 40px;
    height: 40px;
    display: block;
    box-shadow: 0 0 50px rgba(100, 100, 100, .4);
    border-radius: 20px;
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
}

.color:hover {
    box-shadow: 0 0 50px rgba(100, 100, 100, .9);
}


/* system */

.pool {
    border: 1px solid #cdd1d5;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    height: 500px;
}

.pool .checkbox_list.checkbox_list_group label {
    margin-top: 10px;
}


/*drops*/

form.drop_setting_forms {
    border: 1px solid #cdd1d5;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    margin: 15px;
    position: relative;
}

form.drop_setting_forms .form_title {
    background-color: #ffffff;
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 0 10px;
}

form.drop_setting_forms div {
    clear: both;
    line-height: 40px;
}

form.drop_setting_forms div label {
    display: inline-block;
    width: 50%;
    float: left;
    line-height: 40px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 20px;
}

form.drop_setting_forms div input[type="text"],
form.drop_setting_forms div input[type="password"] {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    font-weight: normal;
    margin-right: 10px;
}

form.drop_setting_forms div div.pure_form_text {
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    font-weight: normal;
    clear: none;
    text-align: left;
    line-height: 40px;
}

form.drop_setting_forms div div.checkbox_list.radio_list {
    width: auto;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    font-weight: normal;
    clear: none;
    text-align: left;
    line-height: 40px;
}

form.drop_setting_forms div div.checkbox_list.radio_list label {
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 30px;
}

form.grid_form {
    border: 1px solid #cdd1d5;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    margin: 0 15px 15px 0;
    position: relative;
}

form.grid_form .form_title {
    background-color: #ffffff;
    position: absolute;
    top: -10px;
    left: 20px;
    padding: 0 10px;
}

form.grid_form div {
    clear: both;
    line-height: 40px;
}

form.grid_form div label {
    display: inline-block;
    width: 50%;
    float: left;
    line-height: 40px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 20px;
}

form.grid_form div input[type="text"],
form.grid_form div input[type="password"] {
    box-sizing: border-box;
    width: 40%;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    font-weight: normal;
}

form.grid_form div div.pure_form_text {
    display: inline-block;
    width: 5%;
    float: left;
    margin-bottom: 15px;
    font-weight: normal;
    clear: none;
    text-align: left;
    line-height: 40px;
    margin-left: 10px;
}

form.grid_form div div.checkbox_list.radio_list {
    width: auto;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    font-weight: normal;
    clear: none;
    text-align: left;
    line-height: 40px;
}

form.grid_form div div.checkbox_list.radio_list label {
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 30px;
}

form.grid_form div a.btn {
    margin-right: 0px;
    margin-bottom: 15px;
}

ul.drop_pass {
    padding-left: 0;
    list-style: none;
}

ul.drop_pass li {
    display: inline-block;
    width: 25%;
    float: left;
    line-height: 40px;
    margin-bottom: 20px;
}

ul.drop_pass li>div {
    display: inline-block;
}

ul.drop_pass li>div.drop_pass_label a {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
}

ul.drop_pass li>div.drop_pass_label a:hover {
    box-shadow: 0 0 30px rgba(100, 100, 100, .5);
}

ul.drop_pass li>div.drop_pass_dot_list {
    width: 120px;
}


/* choose room stop */

#choose_room_stop {
    position: absolute;
    right: 0;
}

#choose_room_stop a {
    padding: 20px;
    background-color: #34425a;
    color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow ease-out .5s;
    -moz-transition: box-shadow ease-out .5s;
    -o-transition: box-shadow ease-out .5s;
    transition: box-shadow ease-out .5s;
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
}

#choose_room_stop a:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}


/*ZONE*/

.zone {
    height: 700px;
    background-size: contain;
    background-color: #ffffff;
    background-position: center;
    position: relative;
}

.zone a.zone_item {
    position: absolute;
    display: block;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 30px rgba(100, 100, 100, .5);
    background-color: #278ad8;
    color: #ffffff;
}

.zone a.zone_item h3 {
    text-align: center;
    vertical-align: middle;
}

.zone a.zone_item .room_cond {
    padding: 0;
    margin-bottom: 5px;
    font-size: 16px;
    color: #ffffff;
}

.zone a.zone_item .room_cond .zone_item_dot_list {
    float: left;
}

.zone a.zone_item p {
    margin: 0;
}


/* footer */

footer {
    position: fixed;
    bottom: 0;
}

#footer {
    background-color: #278ad8;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 99;
}

#footer > #footer_inner {
    white-space: nowrap;
    overflow: hidden;
    /*background-color: #278ad8;*/
    color: #ffffff;
    font-weight: bold;
    height: 30px;
    /*border-radius: 20px;*/
    line-height: 30px;
    padding: 0 20px;
}

#footer > #footer_inner > .footer_inner_text {
    white-space: nowrap;
    display: inline;
    width: auto;
}

#footer_bottom {
    background-color: #278ad8;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#footer_bottom > #footer_inner {
    white-space: no-wrap;
    overflow: hidden;
    background-color: #278ad8;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    /*border-radius: 20px;*/
    line-height: 40px;
    padding: 0 20px;
}

#footer_bottom > #footer_inner > .footer_inner_text {
    white-space: nowrap;
    display: inline;
    width: auto;
}

.schedule_table tbody tr:nth-child(2n-1) {
    background-color: #ffffff;
}

.schedule_table tbody tr.has_background_color {
    background-color: rgba(255, 182, 148, 1);
}
