<!-- 排班清單版模 -->
<script id="doctor_class_list_template" type="text/x-handlebars-template">
    {{#doctorClassList}}
    <tr data-doctor_class_id="{{id}}">
        <td>
            <input type="checkbox" name="doctor_class_checkbox" value="{{id}}"/>
        </td>
        <td>
            <a href="#" class="btn editDrClass-btn"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a>
        </td>
        <td>{{doctor_class_name}}</td>
    </tr>
    {{/doctorClassList}}
</script>