<!-- 排班清單版模 -->
<script id="doctor_list_template" type="text/x-handlebars-template">
    {{#doctorList}}
    <tr data-doctor_no="{{doctor_no}}">
        <td>
            <input type="checkbox" name="doctor_checkbox" value="{{doctor_no}}" />
        </td>
        <td>
            <a href="#" class="btn editDoctor"><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a>
        </td>
        <td>{{doctor_no}}</td>
        <td>{{doctor_name}}</td>
        <td>{{doctor_class_name}}</td>
        <td>{{doctor_ext}}</td>
        <td>{{doctor_home_tel}}</td>
        <td>{{doctor_phone}}</td>
        <td>{{enabled}}</td>
    </tr>
    {{/doctorList}}
</script>