<!-- 排班清單版模 -->
<script id="bit_assign_record_template" type="text/x-handlebars-template">
    <ul class="drop_pass">
        {{#bitDeviceList}}
        <li data-bed_id="{{bed_id}}">
            <div class="drop_pass_label">
                <a href="#" class="openEditDevice">
                    <i class="fa fa-bed" aria-hidden="true"></i>
                    {{ward_bed_name}}
                </a>
            </div>
            <div class="drop_pass_dot_list">
                {{#bitNoList}}
                    <span class="badge badge_2">{{bit_no}}</span>
                {{/bitNoList}}
            </div>
        </li>
        {{/bitDeviceList}}
    </ul>
</script>