<!-- 員工清單版模 -->
<script id="employee_list_tr_template" type="text/x-handlebars-template">
    {{#employeeList}}
    <tr data-employee_no="{{no}}">
        <td>
            <input type="checkbox" name="employee_checkbox" value="{{no}}"/>
        </td>
        <td>
            <a href="#"  class="btn editEmployee" ><i class="fa fa-edit" aria-hidden="true"></i> 編輯</a>
        </td>
        <td>{{no}}</td>
        <td>{{name}}</td>
        <td>{{account}}</td>
        <td>
            {{#ifCond sex '==' 'm'　}} 男　{{/ifCond}}
            {{#ifCond sex '==' 'f'　}} 女　{{/ifCond}}
        </td>
        <td>{{user_role_name}}</td>
        <td>{{formatTime expired_date 'patternYMD'}}</td>
        <td>
            {{#ifCond is_enable '==' 'Y'　}} 是　{{/ifCond}}
            {{#ifCond is_enable '==' 'N'　}} 否　{{/ifCond}}
        </td>
    </tr>
    {{/employeeList}}
</script>