<!DOCTYPE html>
<html>

<% include ../Common/head%>
<script type="text/javascript" src="../js/login/selectWardZone.js"></script>

<body id="login">

    <div class="container center container_room_stop" id="room-list-container">


    </div>


    <!--護理站清單>-->
    <script id="room-list-template" type="text/x-handlebars-template">
        <h1 class="text-center">請點選欲進入的護理站</h1>
        {{#each result}}

        <div class="grid_twenty room_stop">
            <a href="#" class="room_stop_inner room_btn"
               data-ward-zone-id="{{id}}"
               data-ward-zone-name="{{ward_zone_name}}"
                    >
                {{ward_zone_name}}
            </a>
        </div>
        {{/each}}
        <div class="clearfix"></div>
    </script>


</body>

</html>
