<!DOCTYPE html>
<html>

<%-include ../Common/head.ejs%>

<body>
<%- include('../Common/left_navbar',{moduleName:'doctor'}) %>
<%- include('../Common/headerMenu',{moduleName:'doctor', func:'2' }) %>
    <div class="nurse_system">
        <div class="container container_higher">
            <div class="welcome">
                <div id="day_room_select" class="datepicker-here" data-language='zh'></div>
                <div class="month_des_list">
                    <a href="#setting_modal" class="btn"><i class="fa fa-cogs" aria-hidden="true"></i> 批次設定</a>
                    <span class="room_des_square date_before"></span> 過去日期
                    <span class="room_des_square date_now"></span> 目前日期
                    <span class="room_des_square date_after"></span> 未來日期
                    <span class="room_des_square date_others"></span> 其它日期
                </div>
            </div>
        </div>
    </div>
    <%-include ../Common/marquee.ejs%>
    <div class="remodal" data-remodal-id="day_room_select_modal" style="max-width: 1200px;">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>醫師每日排班設定</div>
            <div id="doctorScheduleDateDiv"></div>
        </div>
        <div class="remodal_body">
            <div class="grid_twenty text-20">
                <div class="text-left">
                    醫師別：
                    <select id="doctor_class" onchange="filterShowDoctor()">

                    </select>
                </div>
                <div class="checkbox_list text-left radio_list" id="doctorListDiv">
                    <!-- doctor_list_template -->
                </div>
            </div>
            <div class="grid_eighty">
                <table id="bedSchedulingDoctorTable" class="overflow-y">
                    <thead>
                        <tr>
                            <th>房號</th>
                            <th>床號</th>
                            <th>住院醫師</th>
                            <th>實習醫師</th>
                            <th>專科護理師</th>
                            <th>見習醫師</th>
                        </tr>
                    </thead>
                    <tbody>
                         <!-- bed_doctor_scheduling_list_tr_template -->
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="remodal_footer">
            <a href="#" class="btn" id="saveDoctorSchedule"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>
    <!-- 批次排班-->
    <div class="remodal remodal_3" data-remodal-id="setting_modal">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>醫師批次排班設定</div>
        </div>
        <div class="remodal_body">
            <dl>
                <dt><span class="badge badge_1">1</span> 選擇醫師</dt>
                <dd>
                    <div class="ope_list_search ope_list_search_left">
                        <div class="checkbox_list">
                            醫師別：
                            <select id="doctor_class_batch"  onchange="filterShowDoctor()">

                            </select>
                        </div>
                        <hr>
                        <div class="checkbox_list text-left radio_list " id="batchDoctorListDiv">
                          <!-- doctor_list_batch_template 批次排班醫生列表-->
                        </div>
                        <hr>
                        <div class="checkbox_list">
                            已選擇：
                        </div>
                        <div class="doctor_radio_pool"></div>
                    </div>
                </dd>
                <dt><span class="badge badge_1">2</span> 選擇值班病床</dt>
                <dd>
                    <div class="ope_list_search ope_list_search_left">

                        <div id="bedListDiv" class="checkbox_list ">
                            <!-- 病房列表 -->
                        </div>
                    </div>
                </dd>
                <dt><span class="badge badge_1">3</span> 選擇日期</dt>
                <dd>
                    <div class="grid_fifty">
                        <div id="day_remodal_select_1" class="datepicker-here" data-language='zh'></div>
                    </div>
                    <div class="grid_fifty text-left">

                        <div class="date_checklist_pool"></div>
                    </div>
                    <div class="clearfix"></div>
                </dd>
            </dl>
        </div>
        <div class="remodal_footer">
            <a href="#" id="saveBatchScheduling" class="btn"><i class="fa fa-check" aria-hidden="true"></i> 確定</a>
        </div>
    </div>

</body>

</html>
<script type="text/javascript" src="/js/Doctor/assignScheduling.js"></script>


<!--  醫生列表 -->
<script id="doctor_list_template" type="text/x-handlebars-template">
    {{#doctorList}}
    <label>
        <input type="radio" class="option-input checkbox" value="{{doctor_no}}" name="doctor_no_radio" onchange="selDoctor()"/>
        {{doctor_name}}
        <span class="ban">{{doctor_no}}</span>
    </label>
    {{/doctorList}}
</script>

<!--  批次排班醫生列表 -->
<script id="doctor_list_batch_template" type="text/x-handlebars-template">
    {{#doctorList}}
    <label>
        <input type="radio" class="option-input checkbox" name="doctor_no_batch_sel" value="{{doctor_no}}" />
        {{doctor_name}}
        <span class="ban">{{doctor_no}}</span>
    </label>
    {{/doctorList}}
</script>


<!--  病房病床列表 -->
<script id="bed_doctor_scheduling_list_tr_template" type="text/x-handlebars-template">
    {{#bedStaList}}
    <tr data-ward_id="{{ward_id}}" data-bed_id="{{bed_id}}" >
        <td>
            <a class="btn ward_sel"  >{{ward_name}}房</a>
        </td>
        <td>
            <a class="btn bed_sel" >{{bed_name}}</a>
        </td>
        <td class="resident">{{resident_name}}</td>
        <td class="intern">{{intern_name}}</td>
        <td class="specialist_nurse">{{specialist_nurse_name}}</td>
        <td class="trainee">{{trainee_name}}</td>
    </tr>
    {{/bedStaList}}
</script>