<!DOCTYPE html>
<html>
<%-include ../Common/head.ejs%>
<script type="text/javascript" src="../js/Patient/addPatientTodoItem.js"></script>
<script type="text/javascript" src="../js/Patient/patientTodoItem.js"></script>

<body>
<%- include('../Common/left_navbar',{moduleName:'patient'}) %>
<%- include('../Common/headerMenu',{moduleName:'patient', func:'1' }) %>
    <div class="nurse_system">
        <div class="container container_higher" id="todoItems">
            <div class="ope_list_search">

                <div class="date_select">
                    <label>日期： </label>
                    <input id="date_select" type='text' class="datepicker-here" data-range="false" data-language='zh' data-position="bottom right" placeholder="2016-10-02" />
                </div>
                <div class="btn_group">
                    <a href="#" class="btn" onclick="loadAllTodoItemByDate()"><i class="fa fa-search" aria-hidden="true" ></i> 查詢</a>
                    <a href="#create_modal" class="btn" id="create_modal_btn"><i class="fa fa-plus" aria-hidden="true"></i> 建立待辦事項</a>
                    <a href="#" class="btn" onclick="deleteTodoItemByMedicalRecordId()"><i class="fa fa-minus" aria-hidden="true"></i> 刪除</a>
                </div>
            </div>

            <div class="sticky-wrap overflow-y">

                <table class="overflow-y sticky-enabled" id="todoItemsCount_container">

                </table>


            </div>

        </div>
    </div>
    <%-include ../Common/marquee.ejs%>
    <div class="remodal remodal_1" data-remodal-id="edit_modal" id="patientTodoItemDetail_container">

    </div>



    <div class="remodal remodal_3" data-remodal-id="create_modal">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="remodal_header">
            <div>待辦事項設定</div>
        </div>
        <div class="remodal_body">
            <dl>
                <dt><span class="badge badge_1">1</span> 選擇病患</dt>
                <dd>

                    <table  class="overflow-y sticky-enabled">
                        <thead>
                            <tr>
                                <th></th>
                                <th>病床</th>
                                <th>病患</th>
                                <th>入院帳號</th>
                            </tr>
                        </thead>
                        <tbody id="patient-list-container">

                        </tbody>
                    </table>
                </dd>
                <dt><span class="badge badge_1">2</span> 選擇待辦事項</dt>
                <dd>
                    <div class="ope_list_search ope_list_search_left">
                        <div class="checkbox_list">
                            <select id="todo-class-container">

                            </select>
                        </div>
                        <hr>
                        <div class="checkbox_list" id="todo-item-container">

                        </div>
                    </div>
                </dd>
                <dt><span class="badge badge_1">3</span> 選擇日期</dt>
                <dd>
                    <div class="grid_fifty">
                        <div id="day_remodal_select_1" class="datepicker-here" data-language='zh'></div>
                    </div>
                    <div class="grid_fifty text-left">

                        <div id="add-todo-dates" class="date_checklist_pool"></div>
                    </div>
                    <div class="clearfix"></div>
                </dd>
            </dl>
        </div>
        <div class="remodal_footer">
            <a href="#" class="btn" onclick="addTodoRecord()"><i class="fa fa-check" aria-hidden="true" ></i> 確定</a>
        </div>
    </div>



<!--病患待辦事項清單的格子-->
<script id="patient-todoItems-count-template" type="text/x-handlebars-template">

    <thead>
    <tr>
        <th>共 <span class="ban"> {{count}} </span> 筆</th>
        <th>病床</th>
        <th>病患</th>
        <th>年齡</th>
        <th>病歷號碼</th>
        <th>待辦事項</th>
    </tr>
    </thead>

    <tbody >
    {{#each result}}

    <tr>
        <td>
            <input type="checkbox"  class="medical_record_ids_delete"  value="{{medical_record_id}}" />
        </td>
        <td>{{ward_name}}-{{bed_name}}</td>
        <td>

            {{#ifCond patient_sex '==' 0}}
            <span class="female">{{patient_name}}({{patient_age}})</span>
            {{else}}
            <span class="male">{{patient_name}}({{patient_age}})</span>
            {{/ifCond}}


        </td>
        <td>{{patient_age}}(<span>{{subString patient_birthday_date 0 10}}</span>)</td>
        <td>{{medical_record_number}}</td>
        <td>

            <a href="#edit_modal" class="btn"
               onclick="loadTodoItemTodayByPatient('{{patient_person_id}}'
               ,'{{subString patient_todo_record_date 0 10}}'
               ,'{{ward_name}}-{{bed_name}}')
               ">

                <i class="fa fa-edit" aria-hidden="true"></i>編輯</a>

            已完成

            <span class="doctor">{{finishCount}}</span> 件，未完成 <span class="ban">{{notFinishCount}}</span> 件。
        </td>
    </tr>

    {{/each}}

    </tbody>



</script>




<!--特定病患待辦事項的格子-->
<script id="patient-todoItem-detail-template" type="text/x-handlebars-template">

    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>

    <div class="remodal_header">
        <div>編輯待辦事項</div>
    </div>

    <div class="remodal_body">

        <div class="modal_list_search">
            <div><i class="fa fa-user-circle-o" aria-hidden="true"></i>

                {{#ifCond profile.patient_sex '==' 0}}
                <span class="female doctor">{{profile.patient_name}} ({{profile.patient_age}}) {{profile.medical_record_number}}</span>
                {{else}}
                <span class="male doctor">{{profile.patient_name}} ({{profile.patient_age}}) {{profile.medical_record_number}}</span>
                {{/ifCond}}

            </div>

            <div><i class="fa fa-bed" aria-hidden="true"></i> <span class="doctor">{{bed_name}}</span> 床</div>
            <div><i class="fa fa-calendar-o" aria-hidden="true"></i> <span class="doctor">{{patient_todo_record_date}}</span></div>


            <input type="hidden" id="txt_patient_person_id" value="{{patient_person_id}}">
            <input type="hidden" id="txt_patient_todo_record_date" value="{{patient_todo_record_date}}">
            <input type="hidden" id="txt_bed_name" value="{{bed_name}}">

        </div>
        <div class="ope_list_search">

        </div>

        <div class="sticky-wrap overflow-y">
            <table  class="sticky-enabled" style="margin: 0px; width: 100%;">
                <thead>
                <tr>
                    <th></th>
                    <th>待辦事項</th>
                    <th>狀態</th>
                </tr>
                </thead>
                <tbody>
                {{#each result}}

                <tr>
                    <td>
                        <input type="checkbox" class="patient_todo_record_ids" value="{{patient_todo_record_id}}" />
                    </td>
                    <td>{{todo_name}}</td>
                    <td><span class="ban">

                        {{#ifCond patient_todo_record_is_finish '==' 'Y' }}
                        <span class="doctor">已完成</span>
                        {{else}}
                        <span class="ban">未完成</span>
                        {{/ifCond}}

                    </span></td>
                </tr>

                {{/each}}

                </tbody>
            </table>

            <table class="sticky-thead" style="width: 660px; opacity: 0; top: 0px;"><thead>
                <tr>
                    <th style="width: 132px;"></th>
                    <th style="width: 308px;">待辦事項</th>
                    <th style="width: 220px;">狀態</th>
                </tr>
                </thead></table>


        </div>




    </div>
    <div class="remodal_footer" style="margin-top: 0;">
        <div style="display: inline-block;">已完成 <span class="doctor">{{countSuccess}}</span> 件，未完成 <span class="ban">{{countFailed}}</span> 件。</div>
        <a href="#" class="btn" onclick="updateTodoItemStatus()"><i class="fa fa-plus" aria-hidden="true"></i> 設定為已完成</a>
        <a href="#" class="btn" onclick="deleteTodoItem()"><i class="fa fa-minus" aria-hidden="true"></i> 刪除</a>
    </div>







</script>



<!-- 建立待辦事項 選擇病患的  病患資訊格子>-->
<script id="patient-list-template" type="text/x-handlebars-template">

    {{#each result}}

    {{#ifCond medical_record_number '!=' NULL}}

    <tr>
        <td>
            <input type="checkbox" class="medical_record_ids_add" value="{{medical_record_id}}" />
        </td>
        <td>{{ward_name}}-{{bed_name}}</td>
        <td>


            {{#ifCond patient_sex '==' 0}}
            <span class="female">{{patient_name}} ({{patient_age}}) {{subString patient_birthday_date 0 10}}</span>
            {{else}}
            <span class="male">{{patient_name}} ({{patient_age}}) {{subString patient_birthday_date 0 10}}</span>
            {{/ifCond}}


        </td>
        <td>{{medical_record_number}}</td>
    </tr>
    {{/ifCond}}
    
    {{/each}}

</script>


<!-- 待辦事項類別>-->
<script id="todo-class-list-template" type="text/x-handlebars-template">


    {{#each result}}

        {{#ifCond todo_class_name '!=' NULL}}

        <option value="{{id}}">{{todo_class_name}}</option>


        {{/ifCond}}

    {{/each}}

</script>


<!-- 待辦事項項目-->
<script id="todo-item-list-template" type="text/x-handlebars-template">

    {{#each result}}

    {{#ifCond todo_name '!=' NULL}}

    <label>
        <input type="checkbox" id="todoItemsIDs" class="option-input checkbox select_all_check_check todoItemsIDs"  value="{{id}}" /> {{todo_name}}
    </label>

    {{/ifCond}}

    {{/each}}

</script>
</body>

</html>
